/**
 * @file
 * Progress bar specific styles.
 */

.progress__track {
  border-radius: var(--border-size-2);
  border: 1px solid var(--blue-900);
  height: 18px;
  overflow: hidden;
}

.progress__bar {
  background-color: var(--blue-900);
  height: 18px;
}
