/**
 * @file
 * Navigation in header.
 */

.header-nav {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 72px hsla(0, 0%, 0%, 10%);
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh;
  inset-block-start: 0;
  overflow: auto;
  padding-block: 99px var(--size-2);
  padding-inline: var(--size-2);
  position: absolute;
  right: 0;
  transition: visibility 0.2s, clip-path ease-in-out 700ms;
  visibility: hidden;
  width: 100%;
  z-index: 105;

  &.is-active {
    visibility: visible;
    animation: clip-path-circle-open 750ms ease-in-out forwards;
  }

  /* Take into account admin toolbar and orientations */
  .gin--vertical-toolbar.toolbar-horizontal & {
    border-top-width: calc(100px + 60px);
  }

  /* Take into account admin toolbar and orientations */
  .gin--vertical-toolbar.toolbar-vertical &,
  .gin--horizontal-toolbar.toolbar-vertical & {
    border-top-width: calc(100px + 87px);
  }

  @supports (flex-basis: max-content) {
    flex-basis: max-content;
  }

  @media (--md) {
    padding-block-end: var(--size-6);
    padding-inline-start: var(--size-6);

    /* Take into account admin toolbar and orientations */
    .gin--horizontal-toolbar.toolbar-horizontal &,
    .gin--horizontal-toolbar.toolbar-vertical & {
      border-top-width: calc(100px + 113px);
    }

    /* Take into account admin toolbar and orientations */
    .gin--vertical-toolbar.toolbar-vertical & {
      border-top-width: calc(100px + 87px);
    }
  }

  @media (--xl) {
    align-items: center;
    border-block-start: 0;
    box-shadow: none;
    display: flex;
    height: auto;
    justify-content: flex-end;
    overflow: visible;
    padding-block: 0;
    padding-inline: 0;
    position: static;
    visibility: visible;
  }
}

@keyframes clip-path-circle-open {
  0% {
    clip-path: circle(0% at top right);
  }

  100% {
    clip-path: circle(250% at top right);
  }
}

@keyframes clip-path-circle-close {
  0% {
    clip-path: circle(250% at top right);
  }

  100% {
    clip-path: circle(0% at top right);
  }
}
