/**
 * @file
 * Theme settings.
 */

[data-drupal-selector='edit-site-theme'] {
  .form-radios {
    border-radius: 2rem;
    border: 1px solid #8e929c;
    display: inline-flex;
    flex-wrap: wrap;
    padding-block: 4px;
    padding-inline: 8px;

    input {
      border: 0;
      height: 1px;
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 1px;

      &:focus + .form-item__label {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 20%), 0 0 0 4px rgba(0, 125, 250, 60%);
      }

      &:checked + .form-item__label {
        background: rgba(5, 80, 230, 30%);
        color: #043cad;
      }
    }

    .form-type--boolean {
      margin: 0;
    }

    .form-item__label {
      border-radius: 1rem;
      border: 2px solid transparent;
      box-sizing: border-box;
      display: inline-block;
      margin-block: 4px;
      padding-block: 8px;
      padding-inline: 16px;

      &:hover {
        background: rgba(5, 80, 230, 30%);
        color: #043cad;
      }
    }
  }
}

[data-drupal-selector='edit-site-menu'] {
  .form-radios {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;

    .form-item {
      display: flex;
      flex-wrap: wrap;
      margin: 0 12px 0 0;
      position: relative;
      width: 140px;

      input {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 0.75rem;
        cursor: pointer;
        height: 100px;
        margin-left: 0;
        position: static;
        transform: none;
        width: 140px;

        &:checked {
          border-color: rgb(5, 80, 230);
          box-shadow: inset 0 0 0 1px rgb(5, 80, 230);

          &:focus {
            box-shadow: inset 0 0 0 1px rgb(5, 80, 230), 0 0 0 3px rgba(0, 125, 250, 60%);
          }
        }

        &:focus {
          box-shadow: 0 0 0 3px rgba(0, 125, 250, 60%);
        }
      }

      input[data-drupal-selector='edit-site-menu-default'] {
        background-image: url('../images/menu-default.svg');
      }

      input[data-drupal-selector='edit-site-menu-dropdown'] {
        background-image: url('../images/menu-dropdown.svg');
      }

      input[data-drupal-selector='edit-site-menu-mega'] {
        background-image: url('../images/menu-mega.svg');
      }

      .form-item__label {
        font-size: 12px;
        display: block;
        margin-top: 8px;
        margin-bottom: 16px;
        width: 100%;
      }
    }
  }
}
