/**
 * @file
 * Skip link styles.
 */

.skip-link {
  align-items: center;
  background-color: hsl(var(--gray-9));
  color: hsl(var(--white));
  display: flex;
  outline: none;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  right: 0;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
  }

  &::after {
    content: "\0020	➔";
    padding-inline-start: var(--size-1);
  }
}

.skip-link.focusable:focus {
  height: 40px;
  outline: none;
  position: sticky;
  width: 100%;
  z-index: 503;
}
