/**
 * @file
 * Styles for content moderation toolbar.
 */

.entity-moderation-form {
  background: var(--white);
  border: 1px dashed var(--gray-5);
  color: var(--black);
  display: grid;
  list-style: none;
  margin-block: var(--size-4);
  padding-inline: var(--size-2);
  width: 100%;

  @media (--tablet) {
    grid-template-columns: max-content min-content max-content min-content;
  }

  @media (--desktop) {
    width: max-content;
  }
}

.entity-moderation-form__item {
  margin-inline-end: var(--size-4);

  &:last-child {
    align-self: flex-end;
    margin-inline-end: 0;
  }
}
