/**
 * @file
 * Styles for tabledrag.
 */

.draggable:hover {
  background-color: var(--gray-100);
}

.draggable.drag {
  background-color: var(--gray-200);
}

.draggable.drag-previous {
  background-color: var(--gray-300);
}

.drag-previous a {
  color: var(--gray-800); /* Ensure proper contrast. */
}

a.tabledrag-handle,
.touchevents a.tabledrag-handle {
  height: 36px;
  width: 36px;
}

.draggable a.tabledrag-handle {
  margin-inline-start: 0;
}

a.tabledrag-handle .handle {
  background-position: 50% 5px;
  height: var(--size-8);
  margin: 0;
  width: var(--size-8);
}

.touchevents a.tabledrag-handle .handle {
  background-position: 50% 5px;
  height: var(--size-8);
}

.touchevents .draggable td {
  padding-block: var(--size-2);
  padding-inline-start: 0;
  padding-inline-end: var(--size-2);
}

.touchevents .draggable .menu-item__link {
  padding: 0;
}

.draggable-table {
  width: 100%;
}

.draggable-table .form-item {
  margin-block-start: 0;
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  border-block-end: 4px solid var(--blue-500);
  margin: 0;
  z-index: 0;
}
