/**
 * @file
 * Node preview container styling.
 */

.node-preview-container {
  background: var(--node-preview-background-color);
  height: 70px;
  opacity: 1;

  .gin--vertical-toolbar & {
    top: 39px;

    @media (--toolbar) {
      top: 0;
    }
  }

  .node-preview-form-select {
    margin-inline: auto;
    max-width: var(--size-container);
    padding-inline: var(--size-2);

    @media (--xl) {
      padding-inline: var(--size-4);
    }
  }

  .node-preview-backlink {
    background: transparent;
    border: 0;
  }
}
