/**
 * @file
 * Embedded Media.
 */

figure {
  background: var(--gray-200);
}

figcaption {
  background: var(--gray-200);
  color: var(--gray-800);
  font-family: var(--font-serif);
  font-size: 14px;
  font-style: italic;
  line-height: var(--size-4);
  padding-block: var(--size-2);
  padding-inline: var(--size-2);

  @media (--mobile) {
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
  }
}

.align-right {
  float: none; /* Override core's align.module.css. */
  max-inline-size: 100%;
  margin-block: var(--size-12);
  margin-inline: 0;

  @media (--tablet) {
    float: inline-end;
    max-inline-size: 50%;
    margin-block: var(--size-4);
    margin-inline-start: var(--size-4);
    margin-inline-end: 0;
  }
}

.align-left {
  float: none; /* Override core's align.module.css. */
  margin-block: var(--size-12);
  margin-inline: 0;
  max-inline-size: 100%;

  @media (--tablet) {
    float: inline-start;
    max-inline-size: 50%;
    margin-block: var(--size-4);
    margin-inline-start: 0;
    margin-inline-end: var(--size-8); /* Extra right margins in case of aligning next to lists. */
  }
}

.align-center img,
.align-center video,
.align-center audio {
  margin-inline: auto;
}

.media-oembed-content {
  display: block;
  max-inline-size: 100%;
}
