/**
 * @file
 * Page Layout.
 */

.page {
  background: var(--page-bg-color, var(--white));
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  .node-unpublished & {
    background-color: var(--santa-barbara-sand);
  }
}
