<dialog class="search-modal" open>
	<div class="absolute top-5 md:top-10 px-6 pb-10 pt-2 min-w-3/4" x-show="isOverlayOpen">
		<div class="flex justify-end items-center">
			<button type="button" role="button">
				<span class="acsb-sr-only" aria-label="Close Overlay" aria-hidden="false"></span>
				<svg class="svg-inline--fa fa-times fa-w-11 text-5xl text-almost-black cursor-pointer" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 352 512">
					<path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
				</svg>
			</button>
		</div>
		<div class="text-blue-darkest text-5xl md:text-7xl font-serif mt-3 md:mt-9">Search</div>
		<div class="mt-6 text-lg">Try looking up a doctor, a clinic location, or information about a condition/treatment.</div>
		<div class="mt-9 md:mt-3">
			<div class="relative">
				<div class="js-form-item form-item js-form-type-textfield form-item-s js-form-item-s form-no-label">
					<label for="edit-s" class="visually-hidden" aria-hidden="false">Search</label>
					<input data-drupal-selector="edit-s" type="text" id="edit-s" name="s" value="" maxlength="128" placeholder="What are you looking for?" class="form-text w-full border border-gray-medium focus:border-blue-ucla text-lg leading-5 rounded-md py-6 pl-6 pr-16" aria-hidden="false" aria-invalid="false" aria-required="false" aria-label="Search. What are you looking for?">
				</div>
				<div class="absolute h-full flex items-center top-0 right-4">
					<button data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="button js-form-submit form-submit inline-flex items-center p-2" data-acsb-clickable="true" data-acsb-navigable="true" data-acsb-now-navigable="true" role="button" data-acsb-textual-ops="search">
						<span class="acsb-sr-only" data-acsb-sr-only="true" data-acsb-force-visible="true" aria-label=" Search " aria-hidden="false" data-acsb-hidden="false"></span>
						<svg class="svg-inline--fa fa-search fa-w-16 text-blue-ucla text-2xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg="" data-acsb-hidden="true">
							<path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="lg:w-full lg:flex lg:justify-center">
			<div class="lg:w-full p-2 mt-9 md:mt-20 xl:w-auto">
				<div class="text-lg font-bold">
					<strong>Examples</strong>
				</div>
				<div class="prose lg:prose-lg mt-3">
					<div class="multicolumn lg:col-count-2">
						<ul>
							<li>"Lin Chang"
								<span class="text-blue-darkest italic">
									<em>for a Doctor by name</em>
								</span>
							</li>
							<li>"Flu Symptoms"
								<span class="text-blue-darkest italic">
									<em>for a Condition</em>
								</span>
							</li>
							<li>"Cardiologist"
								<span class="text-blue-darkest italic">
									<em>for a Doctor by specialty</em>
								</span>
							</li>
							<li>"Santa Monica"
								<span class="text-blue-darkest italic">
									<em>for a Location</em>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>
