/**
 * @file
 * Give button.
 */

.give-button {
  .is-pl & {
    color: hsl(var(--midnight-joshua-tree));
  }

  & svg {
    margin-inline-end: var(--size-1);
    width: 24px;
  }

  & span {
    font-size: var(--search-button-font-size);
    padding-block-start: var(--size-05);
  }
}
