/**
 * @file
 * User generated tables.
 */

table {
  border-color: inherit;
  border-collapse: collapse;
  caption-side: bottom;
  color: var(--gray-8);
  text-indent: 0;
  vertical-align: top;
  width: 100%;

  caption {
    color: var(--gray-5);
    font-size: var(--font-size-0);
    font-style: italic;
    margin: 0;
    padding-block: var(--size-105);
    padding-inline: var(--size-3);
    text-align: left;
  }
}

:where(thead) {
  background-color: var(--gray-1);

  @media print {
    display: table-header-group;
  }
}

:where(tr) {
  @media print {
    page-break-inside: avoid;
  }
}

:where(th) {
  padding-block: var(--size-105);
  padding-inline: var(--size-3);
  text-align: inherit;
}

tbody {
  tr {
    background-color: var(--white);
    border-bottom-width: 1px;
  }
}

td {
  padding-block: var(--size-105);
  padding-inline: var(--size-3);
}

/* Table no border */
.table--no-border {
  thead {
    background-color: transparent;
  }

  tbody {
    tr {
      background-color: transparent;
      border-bottom-width: 0;
    }
  }
}

/* Table striped */
.table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: var(--white);
    }

    tr:nth-child(even) {
      background-color: var(--gray-1);
    }
  }
}

/* Table hover */
.table--hover {
  tbody {
    tr {
      &:hover {
        background-color: var(--gray-1);
      }
    }
  }
}

/* Table primary */
.table--primary {
  border-radius: var(--radius-2);
  overflow-x: auto;

  thead {
    background-color: var(--blue-7);

    th {
      color: var(--white);
    }
  }

  tbody {
    tr {
      background-color: var(--blue-5);
      border-bottom-color: var(--blue-4);
    }
  }

  td {
    color: var(--white);
  }
}

/* Table primary and striped */
.table--primary.table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: var(--blue-6);
    }

    tr:nth-child(even) {
      background-color: var(--blue-7);
    }
  }
}

/* Table primary and hover */
.table--primary.table--hover {
  thead {
    tr {
      border-bottom-color: var(--blue-4);
      border-bottom-width: 1px;
    }
  }

  tbody {
    tr {
      background-color: var(--blue-7);

      &:hover {
        background-color: var(--blue-6);
      }
    }
  }
}

/* Table responsive */
.table--responsive {
  display: block;
  overflow-x: auto;
  width: 100%;

  @media print {
    display: table;
    overflow-x: visible;
  }
}

/* Table has background */
.tablefield {
  .bg-ucla-blue &,
  .bg-midnight-joshua-tree & {
    > * {
      color: var(--white);
    }
  }
}
