/**
 * @file
 * Grid system.
 */

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: var(--size-2);
  width: 100%;

  /* .grid classes nested 3 or more deep go full width. */
  & .grid .grid {
    display: block;
  }

  @media (--laptop) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: var(--size-4);
  }
}

/* Narrow Grid */
.grid--narrow,
.grid--narrow > * {
  grid-column: 1 / 7;
  width: 100%;

  @media (--tablet) {
    grid-column: 1 / 13;
  }

  @media (--laptop) {
    grid-column: 3 / 9;
  }
}

/* Medium Grid */
.grid--medium,
.grid--medium > * {
  grid-column: 1 / 7;
  width: 100%;

  @media (--tablet) {
    grid-column: 1 / 13;
  }

  @media (--laptop) {
    grid-column: 3 / 11;
  }
}

/* Full Grid */
.grid--full,
.grid--full > * {
  grid-column: 1 / 7;
  width: 100%;

  @media (--tablet) {
    grid-column: 1 / 13;
  }
}
