/**
 * @file
 * Site alert styles.
*/

.site-alert {
  background-color: var(--site-alert-bg);
  color: var(--site-alert-text);
}

.site-alert__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  padding-block: var(--size-05);

  svg {
    flex-shrink: 0;
    margin-inline-end: var(--size-105);
    width: var(--size-3);
  }
}

.site-alert__text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--site-alert-text);
  display: -webkit-box;
  font-family: var(--site-alert-font-family);
  font-size: var(--font-size-1);
  line-height: var(--size-3);
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
