/**
 * @file
 * Site alert styles.
*/

.site-alert {
  background-color: var(--site-alert-bg-color, var(--blue-9));
  color: var(--site-alert-color, var(--white));
}

.site-alert__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  padding-block: var(--size-05);

  svg {
    flex-shrink: 0;
    margin-inline-end: var(--size-105);
    width: var(--size-3);
  }
}

.site-alert__text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--site-alert-color);
  display: -webkit-box;
  font-size: var(--site-alert-font-size);
  line-height: var(--site-alert-lineheight);
  overflow: hidden;
  padding-block-start: var(--size-05);

  a {
    color: var(--site-alert-link-color, var(--white));
    overflow-wrap: break-word;
    padding-block-start: var(--site-alert-link-padding-block-start);
    text-decoration-color: var(--site-alert-text-decoration-color, var(--white));
    text-decoration-thickness: 2px;

    @supports (box-shadow: none) {
      box-shadow: var(--site-alert-box-shadow);
      text-decoration: none;
      transition: box-shadow 0.3s cubic-bezier(0.55, 0.085, 0, 0.99);

      &:hover {
        box-shadow: var(--site-alert-box-shadow-hover);
        color: var(--site-alert-link-color-hover, var(--ucla-blue));
        text-decoration-color: var(--site-alert-link-color);
        text-decoration-style: underline;
      }
    }

    &:focus {
      box-shadow: var(--site-alert-box-shadow-focus);
      outline: none;
    }
  }
}
