/**
 * @file
 * Breadcrumb styles.
 */

.breadcrumb {
  font-size: var(--breadcrumb-font-size);
  font-weight: var(--breadcrumb-font-weight);
  line-height: var(--breadcrumb-lineheight);
  position: relative;

  &::after {
    background: var(--breadcrumb-after-background);
    content: "";
    height: var(--size-2);
    inset-block-start: 0;
    inset-inline-end: calc(var(--size-2) * -1);
    position: absolute;
    width: var(--size-6);

    @media (--laptop) {
      content: none;
    }
  }

  @media (--laptop) {
    position: static;
  }
}

.breadcrumb__content {
  -webkit-overflow-scrolling: touch;
  margin-inline-end: calc(var(--size-2) * -1);

  @media (--laptop) {
    margin: 0;
  }
}

.breadcrumb__list {
  list-style: none;
  margin-block: 0;
  margin-inline: calc(var(--size-2) * -1);
  padding-block: 0 var(--size-2);
  padding-inline-end: 0;
  padding-inline-start: var(--size-2);
  white-space: nowrap;
  width: max-content;

  @media (--laptop) {
    margin-inline: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    white-space: normal;
  }
}

.breadcrumb__item {
  display: inline-block;

  &:nth-child(n+2)::before {
    border-block-start: var(--breadcrumb-item-border);
    border-inline-end: var(--breadcrumb-item-border);
    content: "";
    display: inline-block;
    height: 8px;
    margin-inline: var(--size-2) var(--size-205);
    transform: rotate(45deg);
    width: 8px;
  }

  &:last-child {
    margin-inline-end: var(--size-6);

    @media (--laptop) {
      margin-inline-end: 0;
    }
  }
}

.breadcrumb__link {
  color: var(--breadcrumb-link-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
