/**
 * @file
 * Block styles.
 */

.block__title {
  color: var(--gray-9);
  font-size: var(--font-size-2);
  letter-spacing: 0.02em;
  line-height: var(--font-line-height-2);
  margin-block: 0 var(--size-2);

  .site-footer & {
    color: var(--gray-7);
  }
}
