/**
 * @file
 * Block styles.
 */

.block__title {
  color: var(--gray-900);
  font-size: var(--font-size-2);
  letter-spacing: 0.02em;
  line-height: var(--leading-tight);
  margin-block: 0 var(--size-4);

  .site-footer & {
    color: var(--gray-700);
  }
}
