/**
 * @file
 * Tabs styles.
 */

.tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;

  @media (--md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.tabs__tab {
  display: none;
  margin-inline: 0;
  margin-block-end: -1px;
  margin-block-start: 0;

  &.is-active {
    display: flex;
  }

  @media (--md) {
    display: flex;
  }

  .is-expanded & {
    display: flex;
  }
}

.tabs__link {
  align-items: center;
  background-color: var(--tabs-link-background-color);
  border: var(--tabs-link-border);
  color: var(--tabs-link-color);
  display: flex;
  flex-grow: 1;
  font-size: var(--tabs-link-font-size);
  height: var(--size-7);
  letter-spacing: 1px;
  padding-block: 0;
  padding-inline: var(--size-3);
  text-decoration: none;
  transition: background-color 0.2s;

  &:focus {
    outline-offset: -3px;
    outline: var(--tabs-link-outline);
    position: relative;
  }

  &:hover {
    background-color: var(--tabs-link-hover-background-color);
  }

  &.is-active {
    color: var(--tabs-link-active-color);
    font-weight: var(--tabs-link-active-font-weight);
    position: relative;

    &::after {
      border-inline-start: var(--tabs-link-active-border-inline);
      content: "";
      height: calc(100% + 2px);
      inset-block-end: -1px;
      inset-inline-start: -1px;
      position: absolute;

      @media (--md) {
        border-block-start: var(--tabs-link-active-border-block);
        border-inline-start: 0;
        height: auto;
        inset-inline-start: 0;
        width: 100%;
      }
    }
  }
}

.tabs__trigger {
  align-items: center;
  background-color: var(--tabs-trigger-background-color);
  border: var(--tabs-trigger-border);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-block: 0;
  margin-inline-end: 0;
  margin-inline-start: -1px;
  width: var(--size-7);

  &:hover {
    background-color: var(--tabs-trigger-hover-background-color);
  }

  &:focus {
    position: relative;
    border-color: var(--tabs-trigger-hover-border-color);
    outline: none;
  }

  @media (--md) {
    display: none;
  }
}

.tabs__trigger-icon {
  display: block;
  height: 10px;
  margin-block-start: -2px;
  position: relative;
  width: var(--size-2);

  & > span {
    border-block-start: var(--tabs-trigger-icon-border-block);
    display: block;
    inset-inline-start: 0;
    position: absolute;
    transition: transform 0.2s, opacity 0.2s, top 0.2s;
    width: 100%;

    &:nth-child(1) {
      inset-block-start: 0;
    }

    &:nth-child(2) {
      inset-block-start: calc(50% + 1px);
    }

    &:nth-child(3) {
      inset-block-start: calc(100% + 2px);
    }
  }
}

.tabs__trigger[aria-expanded="true"] .tabs__trigger-icon {
  & > span {
    &:nth-child(1) {
      inset-block-start: calc(50% + 1px);
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      inset-block-start: calc(50% + 1px);
      transform: rotate(-45deg);
    }
  }
}

/* Secondary tabs */
.tabs--secondary {
  .tabs__tab {
    display: block;

    @media (--md) {
      display: flex;
    }
  }

  .tabs__link {
    text-transform: none;

    @media (--md) {
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      background-color: transparent;
    }
  }
}
