/**
 * @file
 * Toolbar.
 */

[dir="ltr"] body.gin--vertical-toolbar,
[dir="ltr"] body.gin--horizontal-toolbar,
[dir="ltr"] body.gin--classic-toolbar {
  padding-left: 0; /* purposely using shorthand */
}

[dir="ltr"] body.toolbar-horizontal {
  margin-inline-start: 65px;
}

.gin--horizontal-toolbar {
  .toolbar-oriented {
    .toolbar-bar {
      position: sticky;
    }
  }
}

.gin-secondary-toolbar--frontend {
  background: var(--bg-light);
  display: block;
  position: sticky;
  top: 39px;
  width: 100%;

  @media (--toolbar) {
    top: 0;
  }
}
