.is-full-width {
  left: 50%;
  margin-inline: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;

  .paragraph--type--sf-table {
    margin-inline: auto;
    max-width: var(--size-container);
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
  }
}
