/**
 * @file
 * Layout utility classes.
 */

.is-full-width {
  left: 50%;
  margin-inline: -50vw;
  max-inline-size: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;

  .paragraph--type--sf-table {
    margin-inline: auto;
    max-inline-size: var(--size-container);
    padding-block: var(--size-8);
    padding-inline: var(--size-8);
  }
}
