/**
 * @file
 * Main menu styling.
 */

.menu-footer {
  display: grid;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  @media (--lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu__item {
    margin-block-end: var(--size-3);
    margin-block-start: var(--size-05);
  }

  h4 {
    color: hsl(var(--white));
    font-size: var(--font-size-3);
    margin-block-end: var(--size-1);
    margin-block-start: 0;
  }

  .menu__subnav {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;

    .menu__item {
      margin-block: var(--size-1);
    }

    .menu__link {
      color: hsl(var(--silver-screen));
      text-decoration: none;
    }
  }
}
