/**
 * @file
 * Main menu styling.
 */

.menu-footer {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  @media (--tablet) {
    display: grid;
    grid-column-gap: var(--size-8);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (--laptop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .menu__item {
    margin-block-end: var(--size-6);
    margin-block-start: var(--size-1);
  }

  h4 {
    color: var(--menu-footer-h4-color);
    font-size: var(--menu-footer-h4-font-size);
    margin-block-end: var(--size-2);
    margin-block-start: 0;
  }

  .menu__subnav {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;

    .menu__item {
      margin-block: var(--size-2);
    }

    .menu__link {
      color: var(--menu-footer-subnav-link-color);
      font-size: var(--menu-footer-subnav-link-font-size);
      text-decoration: none;
    }
  }
}
