/**
 * @file
 * Text content styles.
*/

.text-content,
.cke_editable {
  & a {
    color: var(--blue-800);
    overflow-wrap: break-word;
    text-decoration-color: var(--blue-800);
    text-decoration-thickness: 2px;

    @supports (box-shadow: none) {
      box-shadow: inset 0 -2px 0 0 var(--blue-500);
      text-decoration: none;
      transition: box-shadow 0.3s cubic-bezier(0.55, 0.085, 0, 0.99);

      &:hover {
        box-shadow: inset 0 -2em 0 0 var(--blue-200);
        color: var(--gray-900);
        text-decoration-color: var(--blue-200);
        text-decoration-style: underline;
      }
    }
  }
}
