/**
 * @file
 * Base Fonts.
 */

@font-face {
  font-family: karbon;
  src:
    local("Karbon Regular"),
    url("../fonts/karbon/Karbon-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: karbon;
  src:
    local("Karbon Italic"),
    url("../fonts/karbon/Karbon-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: karbon;
  src:
    local("Karbon Medium"),
    url("../fonts/karbon/Karbon-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: karbon;
  src:
    local("Karbon Semibold"),
    url("../fonts/karbon/Karbon-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: karbon;
  src:
    local("Karbon Bold"),
    url("../fonts/karbon/Karbon-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
