/**
 * @file
 * Main content Layout.
 */

.main {
  inset-block-start: 180px;
  position: relative;
  width: 100%;

  .gin--vertical-toolbar & {
    inset-block-start: 220px;

    @media (--toolbar) {
      inset-block-start: 250px;
      padding-inline-start: 65px;
    }
  }
}
