{#
/**
 * @file
 * Surface's theme override to display the header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  {% embed '@layout/site-header/site-header.twig' %}
    {% block alert %}
      {{ drupal_entity('block', 'surface_site_alert') }}
    {% endblock %}

    {% block secondary %}
      <div class="site-secondary">
        <div class="site-secondary-inner">
          <ul>
            <li>
              <a href="#">UCLA Health</a>
            </li>
            <li>
              <a href="#">Give</a>
            </li>
            <li>
              <a href="#">Quick Links</a>
            </li>
            <li>
              <a href="#">Translate</a>
            </li>
          </ul>
          {{ drupal_entity('block', 'surface_search_form_wide') }}
        </div>
      </div>
    {% endblock %}

    {% block branding %}
      {{ drupal_entity('block', 'surface_site_branding') }}
    {% endblock %}

    {% block primary %}
      {{ drupal_menu('main', expand=true) }}
    {% endblock %}
  {% endembed %}
{% endif %}
