/**
 * @file
 * Select input elements.
 */

.form-select {
  height: var(--size-6);
  max-width: 100%;
  padding-block: 0;
}

select {
  &:focus {
    box-shadow: 0 0 var(--white), 0 0 0 2px var(--blue-4), 0 0 var(--white);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &[disabled] {
    background-color: var(--gray-1);
    color: var(--gray-5);
  }

  &.error {
    border: solid 2px var(--red-9);

    &:focus {
      outline-color: var(--red-9);
    }
  }

  &[multiple] {
    background-image: none;
    height: auto;
    line-height: 1;
    padding: var(--size-1);

    & option {
      padding: var(--size-1);
    }
  }

  &.form-element--small {
    height: var(--size-5);
  }
}
