/**
 * @file
 * Site Footer.
 */

.site-footer {
  background-color: var(--bg-midnight-joshua-tree);
  color: var(--text-light);
  padding-block-end: var(--size-4);
  padding-block-start: var(--size-10);
  position: relative;
}

.site-footer__content {
  display: grid;
  margin-block-end: var(--size-2);

  @media (--xl) {
    grid-gap: var(--size-5);
    grid-template-columns: 35% 65%;
  }
}

.site-footer__utility {
  display: grid;

  @media (--xl) {
    align-items: center;
    grid-gap: var(--size-5);
    grid-template-columns: 35% 65%;
  }
}
