/**
 * @file
 * Site Footer.
 */

.site-footer {
  background-color: var(--site-footer-background-color);
  color: var(--site-footer-color);
  clip-path: var(--site-footer-clip-path);
  padding-block-end: var(--size-4);
  padding-block-start: var(--site-footer-padding-block-start);
  position: relative;
}

.site-footer__content {
  margin-block-end: var(--size-2);
}

.site-footer__utility {
  @media (--desktop) {
    align-items: center;
  }
}

.site-footer__branding {
  grid-column: 1 / 7;
  margin-block-end: var(--size-3);

  @media (--desktop) {
    grid-column: 1 / 6;
  }
}

.site-footer__menu {
  grid-column: 1 / 7;

  @media (--desktop) {
    grid-column: 6 / 13;
  }
}
