/**
 * @file
 * Site Footer.
 */

.site-footer {
  background-color: var(--bg-midnight-joshua-tree);
  color: var(--text-light);
  position: relative;
}

.site-footer__content {
  display: grid;
  grid-template-columns: 25% 75%;
}
