<footer class="site-footer">
  <div class="container">
    <div class="site-footer__content">
      {% block branding %}
        {% include '@components/site-branding/site-branding.twig' with {
          'logo': '/dist/images/logo-inverse.svg'
        } %}
      {% endblock %}

      {% block menu %}
        {% embed '@layout/nav/nav.twig' %}
          {% block content %}
            {% include '@components/menu-footer/menu-footer.twig' with {
              'is_demo': true,
              'items': items
            } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    </div>
  </div>
</footer>
