<footer class="site-footer">
  <div class="container">
    {% block branding %}
      {% include '@layout/site-branding/site-branding.twig' with {
        'site_logo': '/dist/images/logo-inverse.svg'
      } %}
    {% endblock %}

    {% block menu %}
      {{ content }}
    {% endblock %}
  </div>
</footer>
