/**
 * @file
 * Audio element styles.
 */

:where(audio) {
  display: block;
  height: auto;
  max-inline-size: 100%;
  vertical-align: middle;

  &:not([controls]) {
    display: none;
    height: 0;
  }
}
