/**
 * @file
 * Body element styles.
 */

:where(body) {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5;
  min-block-size: 100%;
  padding-block: 0;
  padding-inline: 0;
  scrollbar-gutter: stable both-edges;
  word-wrap: break-word;
}
