/**
 * @file
 * Button element styles.
 */

:where(button) {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
}

:where(button label[for]) {
  cursor: pointer;
  touch-action: manipulation;
}
