/**
 * @file
 * Button element styles.
 */

button {
  background-color: transparent;
  background-image: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
}

button,
[role="button"] {
  cursor: pointer;
}
