/**
 * @file
 * Dialog element styles.
 */

:where(dialog) {
  background-color: var(--dialog-bg-color, var(--gray-0));
  color: inherit;
  border-radius: var(--dialog-border-radius, var(--radius-3));
  box-shadow: var(--dialog-box-shadow, var(--shadow-6));

  &::backdrop {
    backdrop-filter: var(--dialog-backdrop-filter, blur(25px));
  }
}
