/**
 * @file
 * Headings element styles.
 */

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-headings, var(--font-sans));
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  overflow-wrap: break-word;
}

.prose :where(h1) {
  color: var(--h1-color, var(--gray-900));
  font-size: var(--h1-font-size-mobile, var(--font-size-7));
  font-weight: var(--h1-font-weight, var(--font-weight-800));
  line-height: var(--leading-none);
  margin-block-end: var(--size-8);

  @media (--tablet) {
    font-size: var(--h1-font-size-desktop, var(--font-size-8));
  }
}

.prose :where(h2) {
  color: var(--h2-color, var(--gray-900));
  font-size: var(--h2-font-size-mobile, var(--font-size-4));
  font-weight: var(--font-weight-700);
  line-height: var(--leading-snug);
  margin-block-end: var(--size-6);
  margin-block-start: var(--size-12);

  @media (--tablet) {
    font-size: var(--h2-font-size-desktop, var(--font-size-5));
  }
}

.prose :where(h3) {
  color: var(--h3-color, var(--gray-900));
  font-size: var(--h3-font-size-mobile, var(--font-size-2));
  font-weight: var(--font-weight-600);
  line-height: var(--leading-relaxed);
  margin-block-end: var(--size-3);
  margin-block-start: var(--size-8);

  @media (--tablet) {
    font-size: var(--h3-font-size-desktop, var(--font-size-3));
  }
}

.prose :where(h4) {
  color: var(--h4-color, var(--gray-900));
  font-size: var(--h4-font-size-mobile, var(--font-size-2));
  font-weight: var(--font-weight-600);
  margin-block-end: var(--size-2);
  margin-block-start: var(--size-6);
}

.prose :where(h2 + *, h3 + *, h4 + *) {
  margin-block-start: 0;
}
