/**
 * @file
 * Horizontal rule element styles.
 */

:where(hr) {
  background-color: var(--hr-bg-color, hsl(var(--gray-3)));
  height: var(--hr-height, var(--size-sm));
  margin-block: var(--hr-margin-block, var(--size-fluid-2));
}
