/**
 * @file
 * HTML styles.
 */

:where(html) {
  accent-color: var(--accent-color, var(--blue-6));
  background-color: var(--bg-color, var(--white));
  block-size: 100%;
  caret-color: var(--caret-color, var(--blue-6));
  color: var(--color, var(--gray-9));
  font-family: var(--font-body, var(--font-sans));
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  line-height: 1.5;
  min-height: 100%;
  scroll-padding-top: var(--scroll-padding-top, 150px);
  scrollbar-color: var(--scrollbar-color, var(--blue-6)) transparent;
  text-size-adjust: none;

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }
}
