/**
 * @file
 * Img element styles.
 */

:where(img) {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
  vertical-align: middle;

  @media print {
    max-inline-size: 100% !important;
    page-break-inside: avoid;
  }
}
