/**
 * @file
 * Inline element styles.
 */

:where(a) {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;

  &:where([href]) {
    color: var(--link-color, var(--blue-600));

    &:where(:visited) {
      color: var(--link-visited-color, var(--blue-900));
      text-decoration-color: var(--link-visited-decoration-color, var(--blue-900));
    }

    &:where(:hover) {
      color: var(--link-hover-color, var(--blue-500));
      text-decoration-color: var(--link-hover-decoration-color, var(--blue-500));
      text-decoration-line: underline;
    }
  }

  @media print {
    &,
    &:visited {
      text-decoration: none;
    }

    &[href]::after {
      content: " <" attr(href) ">";
      font-family: var(--font-sans);
      font-size: 10pt;
      font-weight: normal;
      text-transform: lowercase;
    }

    /* Uncomment and replace example.com with your site’s domain.
    &[href^="/"]::after {
      content: " <http://example.com" attr(href) ">";
    } */

    &[href^="javascript:"]::after,
    &[href^="mailto:"]::after,
    &[href^="tel:"]::after,
    &[href^="#"]::after,
    &[href*="?"]::after {
      content: "";
    }
  }
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(cite) {
  color: var(--gray-600);
  font-family: var(--font-sans);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--tracking-wide);
  line-height: var(--leading-none);
  margin: 0;
  padding-inline-start: var(--size-2);
}

:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
  font-size: 1em;
}

:where(code) {
  background-color: var(--gray-300);
  border-radius: var(--radius-2);
  margin: 0;
  padding: var(--size-1) var(--size-2);
  white-space: nowrap;
}

:where(del) {
  background-color: var(--red-600);
  color: var(--red-100);
}

:where(dfn) {
  font-style: italic;
}

:where(ins) {
  background-color: var(--green-600);
  color: var(--green-100);
  text-underline-offset: var(--size-px);
}

:where(kbd) {
  border-color: var(--gray-400);
  border-radius: var(--radius-2);
  border-style: solid;
  border-width: var(--border-size-1);
  margin: 0;
  padding: var(--size-2) var(--size-4);
  white-space: nowrap;
}

:where(mark) {
  border-radius: var(--radius-2);
  border-style: solid;
  border-width: 0;
  padding: var(--size-2);
}

:where(small) {
  font-size: 80%;
}

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

:where(u) {
  text-underline-offset: var(--size-px);
}

:where(var) {
  border-color: var(--gray-400);
  border-radius: var(--radius-2);
  border-style: solid;
  border-width: var(--border-size-1);
  margin: 0;
  padding: var(--size-2) var(--size-4);
  white-space: nowrap;
}
