/**
 * @file
 * Inline element styles.
 */

:where(a) {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;

  &:where([href]) {
    color: var(--link-color, var(--blue-6));

    &:where(:visited) {
      color: var(--link-visited-color, var(--blue-9));
      text-decoration-color: var(--link-visited-decoration-color, var(--blue-9));
    }

    &:where(:hover) {
      color: var(--link-hover-color, var(--blue-5));
      text-decoration-color: var(--link-hover-decoration-color, var(--blue-5));
      text-decoration-line: underline;
    }
  }

  @media print {
    &,
    &:visited {
      text-decoration: none;
    }

    &[href]::after {
      content: " <" attr(href) ">";
      font-family: var(--font-sans);
      font-size: 10pt;
      font-weight: normal;
      text-transform: lowercase;
    }

    /* Uncomment and replace example.com with your site’s domain.
    &[href^="/"]::after {
      content: " <http://example.com" attr(href) ">";
    } */

    &[href^="javascript:"]::after,
    &[href^="mailto:"]::after,
    &[href^="tel:"]::after,
    &[href^="#"]::after,
    &[href*="?"]::after {
      content: "";
    }
  }
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(cite) {
  color: var(--cite-color, var(--gray-6));
  font-family: var(--cite-font-family, var(--font-sans));
  font-size: var(--cite-font-size, var(--font-size-0));
  font-weight: var(--cite-font-weight, var(--font-weight-600));
  letter-spacing: var(--cite-letter-spacing, var(--letter-spacing-1));
  line-height: var(--cite-line-height, var(--line-height-1));
  margin: 0;
  padding-inline-start: var(--cite-padding-inline-start, var(--size-1));
}

:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
  font-size: 1em;
}

:where(code) {
  background-color: var(--code-bg-color, var(--gray-3));
  border-radius: var(--code-border-radius, var(--radius-2));
  margin: 0;
  padding: var(--code-padding, var(--size-05) var(--size-1));
  white-space: nowrap;
}

:where(del) {
  background-color: var(--del-bg-color, var(--red-9));
  color: var(--del-color, var(--red-1));
}

:where(dfn) {
  font-style: italic;
}

:where(ins) {
  background-color: var(--ins-bg-color, var(--green-9));
  color: var(--ins-color, var(--green-1));
  text-underline-offset: var(--ins-text-underline-offset, var(--size-xs));
}

:where(kbd) {
  border-color: var(--kbd-border-color, var(--gray-4));
  border-radius: var(--kbd-border-radius, var(--radius-2));
  border-style: solid;
  border-width: var(--kbd-border-size, var(--border-size-1));
  margin: 0;
  padding: var(--kbd-padding, var(--size-1) var(--size-2));
  white-space: nowrap;
}

:where(mark) {
  border-radius: var(--mark-border-radius, var(--radius-2));
  border-style: solid;
  border-width: 0;
  padding: var(--mark-padding, var(--size-1));
}

:where(small) {
  font-size: 80%;
}

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

:where(u) {
  text-underline-offset: var(--u-text-underline-offset, var(--size-xs));
}

:where(var) {
  border-color: var(--var-border-color, var(--gray-4));
  border-radius: var(--var-border-radius, var(--radius-2));
  border-style: solid;
  border-width: var(--var-border-width, var(--border-size-1));
  margin: 0;
  padding: var(--var-padding, var(--size-1) var(--size-2));
  white-space: nowrap;
}
