/**
 * @file
 * Input element styles.
 */

:where(input, textarea) {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  appearance: none;
  background-color: var(--white);
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--gray-400);
  max-inline-size: 100%;
  min-height: var(--size-12);

  &:focus {
    border: solid 2px var(--blue-500);
    outline: solid 2px var(--blue-500);
  }

  &[disabled] {
    background-color: var(--gray-300);
    color: var(--gray-500);
  }

  &.error {
    border: solid 2px var(--red-700);

    &:focus {
      outline-color: var(--red-700);
      outline-offset: -2px;
    }
  }

  &.form-element--small {
    min-height: var(--size-10);
  }

  @media (--mobile) {
    width: auto;
  }
}

[type="search"] {
  outline-offset: -2px;
}

[type="date"] {
  &::-webkit-datetime-edit-fields-wrapper {
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

[type="file"] {
  height: auto;
  padding-block: var(--size-3);
}

[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}
