/**
 * @file
 * Input element styles.
 */

:where(input, textarea) {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  appearance: none;
  background-color: var(--input-bg-color, var(--white));
  border-radius: var(--input-border-radius, var(--radius-1));
  border: var(--input-border-size, var(--border-size-1)) solid var(--input-border-color, var(--gray-4));
  max-width: 100%;
  min-height: var(--input-min-height, var(--size-6));

  &:focus {
    border: solid 2px var(--input-border-color-focus, var(--blue-5));
    outline: solid 2px var(--input-outline-color-focus, var(--blue-5));

    @supports (outline-style: double) {
      border-width: 1px;
      outline-offset: -1px;
      outline-style: double;
      outline-width: 6px;
    }
  }

  &[disabled] {
    background-color: var(--input-bg-color-disabled, var(--gray-3));
    color: var(--input-color-disabled, var(--gray-5));
  }

  &.error {
    border: solid 2px var(--input-border-color-error, var(--red-7));

    &:focus {
      outline-color: var(--input-outline-color-error, var(--red-7));
      outline-offset: -2px;
    }
  }

  &.form-element--small {
    min-height: var(--input-min-height-small, var(--size-5));
  }

  @media (--mobile) {
    width: auto;
  }
}

[type="date"] {
  &::-webkit-datetime-edit-fields-wrapper {
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

[type="file"] {
  height: auto;
  padding-block: var(--input-file-padding-block, var(--size-105));
}

[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}
