/**
 * @file
 * Input element styles.
 */

:root {
  --input-background-color: hsl(var(--white));
  --input-background-color-disabled: hsl(var(--gray-3));
  --input-border-radius: var(--radius-1);
  --input-border-size: var(--border-size-1);
  --input-border-color: hsl(var(--gray-4));
  --input-border-color-focus: hsl(var(--blue-5));
  --input-border-color-error: hsl(var(--red-7));
  --input-color: hsl(var(--gray-9));
  --input-color-disabled: hsl(var(--gray-5));
  --input-min-height: var(--size-6);
  --input-min-height-small: var(--size-5);
  --input-outline-color-focus: hsl(var(--blue-5));
  --input-outline-color-error: hsl(var(--red-7));
  --input-padding: 0 var(--size-2);
  --input-file-padding-block: var(--size-105);
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  appearance: none;
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  border: var(--input-border-size) solid var(--input-border-color);
  color: var(--input-color);
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
  min-height: var(--input-min-height);
  padding: var(--input-padding);

  &:focus {
    border: solid 2px var(--input-border-color-focus);
    outline: solid 2px var(--input-outline-color-focus);

    @supports (outline-style: double) {
      border-width: 1px;
      outline-offset: -1px;
      outline-style: double;
      outline-width: 6px;
    }
  }

  &[disabled] {
    background-color: var(--input-background-color-disabled));
    color: var(--input-color-disabled);
  }

  &.error {
    border: solid 2px var(--input-border-color-error);

    &:focus {
      outline-color: var(--input-outline-color-error);
      outline-offset: -2px;
    }
  }

  &.form-element--small {
    min-height: var(--input-min-height-small);
  }

  @media (--sm) {
    width: auto;
  }
}

[type="date"] {
  &::-webkit-datetime-edit-fields-wrapper {
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

[type="file"] {
  height: auto;
  padding-block: var(--input-file-padding-block);
}
