/**
 * @file
 * Option element styles.
 */

:root {
  --optgroup-font-weight: var(--font-weight-700);
  --optgroup-line-height: var(--font-line-height-1);
}

/* :where(option) {} */

:where(optgroup) {
  font-family: inherit;
  font-size: 100%;
  font-weight: var(--optgroup-font-weight);
  line-height: var(--optgroup-line-height);
  margin: 0;
}
