/**
 * @file
 * Option element styles.
 */

/* :where(option) {} */

:where(optgroup) {
  font-family: inherit;
  font-size: 100%;
  font-weight: var(--optgroup-font-weight, var(--font-weight-700));
  line-height: var(--optgroup-line-height, var(--line-height-1));
  margin: 0;
}
