/**
 * @file
 * Paragraph element styles.
 */

:where(p) {
  margin: 0;
  overflow-wrap: break-word;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media print {
    orphans: 3;
    widows: 3;
  }
}
