/**
 * @file
 * Preformatted text styles.
 */

:where(pre) {
  margin: 0;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;

  @media print {
    page-break-inside: avoid;
  }
}
