/**
 * @file
 * Select element styles.
 */

:root {
  --select-background-color: hsl(var(--gray-2));
  --select-border-radius: var(--radius-2);
}

:where(select) {
  background-color: var(--select-background-color);
  border-radius: var(--select-border-radius);
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  padding-block: 0.75ch;
  padding-inline: 1.25ch 0;
  touch-action: manipulation;
}
