/**
 * @file
 * Table element styles.
 */

:root {
  --caption-color: hsl(var(--gray-5));
  --caption-padding-block: var(--size-1);
  --table-border-color: hsl(var(--gray-2));
  --table-color: hsl(var(--gray-8));
  --table-margin-block-end: var(--size-2);
  --table-border-bottom-width: var(--border-size-1);
  --table-border-top-width: var(--border-size-1);
  --table-padding-block: var(--size-1);
  --table-padding-inline: var(--size-1);
}

:where(caption) {
  color: var(--caption-color);
  padding-block: var(--caption-padding-block);
  text-align: left;
}

:where(table) {
  border-collapse: collapse;
  border-color: var(--table-border-color);
  caption-side: bottom;
  color: var(--table-color);
  margin-block-end: var(--table-margin-block-end);
  vertical-align: top;
  width: 100%;

  > :not(caption) > * > * {
    background-color: transparent;
    border-bottom-width: var(--table-border-bottom-width);
    padding-block: var(--table-padding-block);
    padding-inline: var(--table-padding-inline);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  > :not(:first-child) {
    border-top-color: currentcolor;
    border-top-width: var(--table-border-top-width);
  }
}

:where(thead, tbody, tfoot, tr, td, th) {
  border-color: inherit;
}

:where(thead) {
  @media print {
    display: table-header-group;
  }
}

:where(tr) {
  @media print {
    page-break-inside: avoid;
  }
}

:where(th) {
  text-align: inherit;
}
