/**
 * @file
 * Textarea element styles.
 */

:where(textarea) {
  background-color: var(--textarea-bg-color, var(--gray-2));
  border-radius: var(--textarea-border-radius, var(--radius-2));
  cursor: pointer;
  display: block;
  letter-spacing: inherit;
  min-height: var(--textarea-min-height, var(--size-18));
  resize: block;
  touch-action: manipulation;
  width: 100%;
}
