/**
 * @file
 * Textarea element styles.
 */

:where(textarea) {
  background-color: var(--gray-200);
  border-radius: var(--radius-2);
  cursor: pointer;
  display: block;
  letter-spacing: inherit;
  min-height: var(--size-36);
  resize: vertical;
  touch-action: manipulation;
  width: 100%;
}
