/**
 * @file
 * Universal styles.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--gray-300);
  border-style: solid;
  border-width: 0;
}

* {
  @media print {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
}

::selection {
  background-color: var(--selection-bg-color, var(--blue-900));
  color: var(--selection-color, var(--white));
}

::placeholder {
  color: var(--placeholder-color, var(--gray-400));
  opacity: 1;
}

:where([tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
}

:disabled {
  cursor: default;
}

[hidden] {
  display: none;
}
