/**
 * @file
 * Main menu styling.
 */

/* Menu Level 1 */
.menu-main--level-1 {
  list-style-type: none;
  margin-block-end: var(--size-2);
  margin-block-start: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;

  @media (--xl) {
    align-items: stretch;
    display: flex;
    margin-block-end: 0;
  }

  /* Mobile menu active */
  .is-active & {
    margin-top: 120px;

    /* Drupal toolbar present */
    .gin--vertical-toolbar & {
      margin-top: 110px;
    }
  }

  /* Disable underline on items with children */
  .menu__link--has-children {
    .menu__link-inner--level-1 {
      &::after {
        @media (--xl) {
          content: none;
        }
      }
    }
  }
}

/* Menu Level 2 */
.menu-main--level-2 {
  border-left: var(--menu-main-level-2-border-left);
  display: block;
  list-style-type: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s, visibility 0.2s, max-height 0.2s;
  visibility: hidden;
  width: 100%;

  @media (--xl) {
    background: hsl(var(--white));
    border-left: solid 1px transparent;
    border-top: var(--menu-main-level-2-border-top);
    box-shadow: 0 1px 36px rgba(0, 0, 0, 8%);
    flex-basis: 100%;
    left: 50%;
    max-height: calc(100vh - 7.875rem);
    opacity: 0;
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
    position: absolute;
    top: 82px;
    transform: translate(-50%, -1.25rem);
    transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
    visibility: hidden;
  }

  &.is-active-menu-parent {
    margin-block-start: var(--size-3);
    max-height: none;
    opacity: 1;
    visibility: visible;

    @media (--xl) {
      margin-block-start: 0;
      opacity: 1;
      transform: translate(-50%, 0);
      visibility: visible;
    }
  }
}

/* Menu link underline effect */
.menu__link-inner {
  align-items: center;
  display: inline-flex;
  padding-block: var(--size-1);
  position: relative;

  @media (--xl) {
    padding-block: var(--size-4);
    padding-inline: 0;
  }

  &::after {
    border-top: var(--menu-main-link-inner-border-top);
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s;
    width: 100%;

    @media (--xl) {
      border-top-width: 9px;
      transform-origin: center;
    }
  }
}

/* Menu link level one */
.menu__link--level-1 {
  color: var(--menu-main-link-level-1-color);
  font-size: var(--menu-main-link-level-1-font-size-mobile);
  font-weight: var(--menu-main-link-level-1-font-weight-mobile);
  letter-spacing: var(--menu-main-link-level-1-letterspacing-mobile);
  line-height: var(--menu-main-link-level-1-lineheight-mobile);
  position: relative;
  text-decoration: none;

  @media (--xl) {
    font-size: var(--menu-main-link-level-1-font-size-desktop);
    font-weight: var(--menu-main-link-level-1-font-weight-desktop);
    letter-spacing: var(--menu-main-link-level-1-letterspacing-desktop);
    line-height: var(--menu-main-link-level-1-lineheight-desktop);
  }

  &:hover {
    color: var(--menu-main-link-level-1-hover-color);

    .menu__link-inner {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &:focus {
    @media (--xl) {
      outline: 0;
      position: relative;
    }

    &::before {
      @media (--xl) {
        border-radius: 0.25rem;
        border: var(--menu-main-link-level-1-border);
        content: "";
        height: 54px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 1.125rem);
      }
    }
  }
}

/* Menu link level two */
.menu__link--level-2 {
  color: var(--menu-main-link-level-2-color);
  font-size: var(--menu-main-link-level-2-font-size);
  font-weight: var(--menu-main-link-level-2-font-weight);
  line-height: var(--menu-main-link-level-2-lineheight);
  text-decoration: none;

  &:hover {
    color: var(--menu-main-link-level-2-hover-color);

    .menu__link-inner {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

/* Menu link level three */
.menu__link--level-3 {
  color: var(--menu-main-link-level-3-color);
  font-size: var(--menu-main-link-level-3-font-size);
  font-weight: var(--menu-main-link-level-3-font-weight);
  line-height: var(--menu-main-link-level-3-lineheight);
  text-decoration: none;

  &:hover {
    color: var(--menu-main-link-level-3-hover-color);

    .menu__link-inner {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

/* Default menu */
.menu-main--default {
  .menu__item {
    margin-block-end: var(--size-1);

    @media (--xl) {
      margin-block-end: 0;
      margin-inline-end: var(--size-4);
      width: max-content;
    }

    &:last-child {
      @media (--xl) {
        margin-inline-end: 0;
      }
    }
  }

  .menu__link {
    display: inline-block;
  }
}

/* Dropdown menu */
.menu-main--dropdown {
  &.menu-main--level-1 {
    .menu__item {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      margin-block-end: var(--size-1);
      position: relative;

      @media (--xl) {
        align-items: center;
        flex-basis: auto;
        flex-wrap: nowrap;
        margin-block-end: 0;
        margin-inline-end: var(--size-4);
        width: max-content;
      }

      &:last-child {
        @media (--xl) {
          margin-inline-end: 0;
        }
      }
    }

    .menu__link {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
    }

    .is-active-mouseover-event {
      .menu__link--level-1 {
        color: var(--menu-main-dropdown-active-color);
      }
    }
  }

  /* Second level menu */
  .menu-main--level-2 {
    @media (--xl) {
      display: flex;
      flex-wrap: wrap;
      width: 250px;
    }

    .menu__item {
      display: flex;
      flex-wrap: wrap;
      margin-inline-end: 0;

      @media (--xl) {
        display: block;
      }
    }

    .menu__link {
      @media (--xl) {
        display: block;
      }
    }

    .menu__link-inner {
      @media (--xl) {
        padding-block: var(--size-1);
      }

      &::after {
        border-top-color: var(--menu-main-dropdown-border-top-color);
        border-top-width: 3px;
        transform-origin: left;
      }
    }
  }
}

/* Mega menu */
.menu-main--mega {
  &.menu-main--level-1 {
    .menu__item {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      margin-block-end: var(--size-1);

      @media (--xl) {
        align-items: center;
        flex-basis: auto;
        flex-wrap: nowrap;
        margin-block-end: 0;
        margin-inline-end: var(--size-4);
        position: static;
        width: max-content;
      }

      &:last-child {
        @media (--xl) {
          margin-inline-end: 0;
        }
      }
    }

    .menu__link {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
    }

    .is-active-mouseover-event {
      .menu__link--level-1 {
        color: var(--menu-main-mega-level-1-active-color);
      }
    }

    .menu-caret {
      @media (--xl) {
        display: none;
      }
    }
  }

  /* Second level menu */
  .menu-main--level-2 {
    @media (--xl) {
      display: grid;
      grid-gap: var(--size-1);
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      flex-basis: 100%;
      max-width: var(--size-container);
      width: 100%;
    }

    .menu__item {
      display: block;
      margin-inline-end: 0;
      width: 100%;
    }

    .menu__link {
      display: inline-block;
      font-weight: var(--menu-main-mega-level-2-font-weight);
      margin-block-end: 4px;
    }

    .menu__link-inner {
      @media (--xl) {
        padding-block: var(--size-1);
      }

      &::after {
        border-top-color: var(--menu-main-mega-level-2-border-top-color);
        border-top-width: 3px;
        transform-origin: left;
      }
    }
  }

  /* Third level menu */
  .menu-main--level-3 {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;

    .menu__link {
      @media (--xl) {
        display: block;
      }
    }

    .menu__link-inner {
      padding-block: 4px;

      &::after {
        border-top-color: var(--menu-main-mega-level-3-border-top-color);
        border-top-width: 2px;
      }
    }
  }
}
