/**
 * @file
 * Styles for menu placed in sidebar region.
 */

.menu-sidebar {
  list-style-type: none;
  padding-inline-start: 0;

  .menu__item--has-children {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__link {
    color: var(--text-midnight-joshua-tree);
    display: flex;
    flex-basis: calc(100% - 32px);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-700);
    padding-block: var(--size-1);
  }
}

/* Sidebar menu level 2 */
.menu-sidebar--level-2 {
  border-left: solid 8px var(--bg-midnight-joshua-tree);
  flex-basis: 100%;
  max-height: 0;
  opacity: 0;
  padding-inline-start: var(--size-105);
  transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
  visibility: hidden;

  &.is-active-menu-parent {
    max-height: none;
    opacity: 1;
    visibility: visible;
  }

  .menu__item--has-children {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__link {
    color: var(--text-ucla-blue);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-700);
  }
}

/* Sidebar menu level 3 */
.menu-sidebar--level-3 {
  border-left: solid 4px var(--bg-ucla-blue);
  flex-basis: 100%;
  max-height: 0;
  opacity: 0;
  padding-inline-start: var(--size-105);
  transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
  visibility: hidden;

  &.is-active-menu-parent {
    max-height: none;
    opacity: 1;
    visibility: visible;
  }

  .menu__link {
    color: var(--text-malibu-dolphin);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-700);
  }
}

/* Sidebar menu level 4 */
.menu-sidebar--level-4 {
  border-left: solid 4px var(--bg-malibu-dolphin);
  flex-basis: 100%;
  max-height: 0;
  opacity: 0;
  padding-inline-start: var(--size-105);
  transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
  visibility: hidden;

  &.is-active-menu-parent {
    max-height: none;
    opacity: 1;
    visibility: visible;
  }

  .menu__link {
    color: var(--text-malibu-dolphin-light);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-700);
  }
}
