/**
 * @file
 * Site header.
 */

.site-header {
  box-shadow: -36px 1px 36px hsla(0, 0%, 0%, 8%);
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  /* Take into account pattern lab */
  .pl & {
    position: relative;
  }

  .gin--vertical-toolbar & {
    top: 87px;

    @media (--toolbar) {
      top: 60px;
    }
  }
}
