<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
  {% block alert %}
    {% include '@components/site-alert/site-alert.twig' with {
      'text': 'Find the latest information on <a href="#">COVID-19</a>, <a href="#">monkeypox</a> and <a href="#">flu prevention</a>.'
    } %}
  {% endblock %}

  <section class="site-secondary">
    <div class="container">
      <div class="site-secondary__content">
        {% block secondary %}
          {% include '@components/menu-secondary/menu-secondary.twig' with {
            'is_demo': true,
            'items': secondary_menu
          } %}
        {% endblock %}
        {% include '@components/search-button/search-button.twig' %}
      </div>
    </div>
  </section>

  <section class="site-primary">
    <div class="container">
      <div class="site-primary__content">
        {% block branding %}
          {% include '@layout/site-branding/site-branding.twig' with {
            'site_logo': '/dist/images/logo.svg'
          } %}
        {% endblock %}

        <nav id="site-navigation" class="site-navigation" data-drupal-selector="site-navigation">
          {% include '@components/mobile-button/mobile-button.twig' %}

          <div class="site-navigation-container">
            {% block primary %}
              {% include '@components/menu-main/menu-main.twig' with {
                'menu': 'dropdown',
                'is_demo': true,
                'items': main_menu_dropdown
              } %}
            {% endblock %}
          </div>
        </nav>

      </div>
    </div>
  </section>

  {% block search %}
    {% include '@components/site-search/site-search.twig' %}
  {% endblock %}
</header>
