<table class="views-table views-view-table cols-5">
	<thead>
		<tr>
			<th class="views-field views-field-media-library-select-form" scope="col"></th>
			<th id="view-thumbnail-target-id-table-column--P7LNq0xo3VU" class="views-field views-field-thumbnail__target-id" scope="col">Thumbnail</th>
			<th id="view-name-table-column--bl_Az0wr2NU" class="views-field views-field-name" scope="col">Name</th>
			<th id="view-uid-table-column--da-qy8tko34" class="views-field views-field-uid" scope="col">Author</th>
			<th id="view-changed-table-column--XYwStagYCQo" class="views-field views-field-changed" scope="col">Updated</th>
		</tr>
	</thead>
	<tbody>
		<tr class="media-library-item media-library-item--table js-media-library-item js-click-to-select">
			<td class="views-field views-field-media-library-select-form">
				<div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-0 form-item--media-library-select-form-0 form-item--no-label   form-type-boolean">
					<label class="form-item__label  visually-hidden" for="edit-media-library-select-form-0--rPlnAjHCZWM">Select placeholder.jpeg</label>
					<input data-drupal-selector="edit-media-library-select-form-0" type="checkbox" id="edit-media-library-select-form-0--rPlnAjHCZWM" name="media_library_select_form[0]" value="12" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-item-change">
					<span class="checkbox-toggle">
						<span class="checkbox-toggle__inner"></span>
					</span>
				</div>
			</td>
			<td headers="view-thumbnail-target-id-table-column--P7LNq0xo3VU" class="views-field views-field-thumbnail__target-id">
				<img src="/sites/default/files/styles/media_library/public/2023-02/placeholder.jpeg?itok=igpu86F2" width="220" height="124" alt="Placeholder image" loading="lazy" class="image-style-media-library">
			</td>
			<td headers="view-name-table-column--bl_Az0wr2NU" class="views-field views-field-name">
				placeholder.jpeg
			</td>
			<td headers="view-uid-table-column--da-qy8tko34" class="views-field views-field-uid">
				<a href="/user/1" hreflang="en" data-once="media-library-warn-link">admin</a>
			</td>
			<td headers="view-changed-table-column--XYwStagYCQo" class="views-field views-field-changed">
				02/08/2023
			</td>
		</tr>
		<tr class="media-library-item media-library-item--table js-media-library-item js-click-to-select">
			<td class="views-field views-field-media-library-select-form">
				<div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-1 form-item--media-library-select-form-1 form-item--no-label   form-type-boolean">
					<label class="form-item__label  visually-hidden" for="edit-media-library-select-form-1--MdbhTnNqtyE">Select male-doctor-holding-virtual-brain-copy.jpg</label>
					<input data-drupal-selector="edit-media-library-select-form-1" type="checkbox" id="edit-media-library-select-form-1--MdbhTnNqtyE" name="media_library_select_form[1]" value="11" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-item-change">
					<span class="checkbox-toggle">
						<span class="checkbox-toggle__inner"></span>
					</span>
				</div>
			</td>
			<td headers="view-thumbnail-target-id-table-column--P7LNq0xo3VU" class="views-field views-field-thumbnail__target-id">
				<img src="/sites/default/files/styles/media_library/public/2023-02/male-doctor-holding-virtual-brain-copy.jpg?itok=i_z7JzP_" width="220" height="147" alt="Doctor holding a virtual brain scan" loading="lazy" class="image-style-media-library">
			</td>
			<td headers="view-name-table-column--bl_Az0wr2NU" class="views-field views-field-name">
				male-doctor-holding-virtual-brain-copy.jpg
			</td>
			<td headers="view-uid-table-column--da-qy8tko34" class="views-field views-field-uid">
				<a href="/user/1" hreflang="en" data-once="media-library-warn-link">admin</a>
			</td>
			<td headers="view-changed-table-column--XYwStagYCQo" class="views-field views-field-changed">
				02/06/2023
			</td>
		</tr>
		<tr class="media-library-item media-library-item--table js-media-library-item js-click-to-select">
			<td class="views-field views-field-media-library-select-form">
				<div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-2 form-item--media-library-select-form-2 form-item--no-label   form-type-boolean">
					<label class="form-item__label  visually-hidden" for="edit-media-library-select-form-2--CNisvn93coY">Select chaz-beach.jpg</label>
					<input data-drupal-selector="edit-media-library-select-form-2" type="checkbox" id="edit-media-library-select-form-2--CNisvn93coY" name="media_library_select_form[2]" value="10" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-item-change">
					<span class="checkbox-toggle">
						<span class="checkbox-toggle__inner"></span>
					</span>
				</div>
			</td>
			<td headers="view-thumbnail-target-id-table-column--P7LNq0xo3VU" class="views-field views-field-thumbnail__target-id">
				<img src="/sites/default/files/styles/media_library/public/2023-01/chaz-beach.jpg?itok=iO2sHgK_" width="220" height="165" alt="Chaz at the beach" loading="lazy" class="image-style-media-library">
			</td>
			<td headers="view-name-table-column--bl_Az0wr2NU" class="views-field views-field-name">
				chaz-beach.jpg
			</td>
			<td headers="view-uid-table-column--da-qy8tko34" class="views-field views-field-uid">
				<a href="/user/1" hreflang="en" data-once="media-library-warn-link">admin</a>
			</td>
			<td headers="view-changed-table-column--XYwStagYCQo" class="views-field views-field-changed">
				02/01/2023
			</td>
		</tr>
	</tbody>
</table>
