:where(html) {
  --black: 0 0% 0%;
  --white: 0 0% 100%;

  /* Backgrounds */
  --bg-dark: hsl(var(--black));
  --bg-light: hsl(var(--white));
  --bg-ucla-blue: hsl(var(--ucla-blue));
  --bg-ucla-yellow: hsl(var(--ucla-yellow));
  --bg-santa-barbara-sand: hsl(var(--santa-barbara-sand));
  --bg-malibu-dolphin: hsl(var(--malibu-dolphin));

  /* Text */
  --text-dark: hsl(var(--black));
  --text-light: hsl(var(--white));
  --text-ucla-blue: hsl(var(--ucla-blue));
  --text-midnight-joshua-tree: hsl(var(--midnight-joshua-tree));
  --text-malibu-dolphin: hsl(var(--malibu-dolphin));

  /* Containers */
  --max-width: 1440px;
}

:where([data-theme="dgsom"]) {
  --font-sans: Karbon, Helvetica, sans-serif;
  --font-size-1: var(--font-size-2);
}

:where([data-theme="labs"]) {
  --font-sans: Karbon, Helvetica, sans-serif;
  --font-size-1: var(--font-size-2);
}
