:where(html) {
  /* Typography */
  --font-sans: Helvetica, sans-serif;
  --font-body: var(--font-sans);
  --font-headings: var(--font-sans);

  /* Buttons */
  --button-background-color: hsl(var(--white));
  --button-border-color: hsl(var(--blue-9));
  --button-border-color-hover: hsl(var(--blue-5));
  --button-border-width: var(--border-size-2);
  --button-color: hsl(var(--blue-9));
  --button-color-visited: hsl(var(--blue-9));
  --button-color-hover: hsl(var(--blue-5));
  --button-font-size: var(--font-size-1);
  --button-font-weight: var(--font-weight-400);
  --button-lineheight: var(--font-lineheight-3);
  --button-padding-block-end: var(--size-1);
  --button-padding-block-start: var(--size-1);
  --button-padding-inline: var(--size-2);
  --button-box-shadow: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--gray-8) / 15%);

  /* Primary button */
  --button-primary-background-color: hsl(var(--blue-9));
  --button-primary-color: hsl(var(--white));
  --button-primary-background-color-hover: hsl(var(--blue-5));
  --button-primary-color-hover: hsl(var(--white));
  --button-primary-background-color-visited: hsl(var(--blue-9));
  --button-primary-color-visited: hsl(var(--white));
  --button-primary-box-shadow: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--gray-8) / 15%);
}
