:where([data-theme="surface"]) {
  /* Typography */
  --font-sans: Helvetica, sans-serif;
  --font-body: var(--font-sans);
  --font-headings: var(--font-sans);

  /* Page */
  --page-background-color: hsl(var(--white));

  /* Site header */
  --site-header-background-color: hsl(var(--white));
  --site-header-box-shadow: -36px 1px 36px hsl(var(--black) / 8%);

  /* Node preview */
  --node-preview-background-color: hsl(var(--white));

  /* Site Alert */
  --site-alert-background-color: hsl(var(--ucla-blue));
  --site-alert-color: hsl(var(--white));
  --site-alert-font-size: var(--font-size-1);
  --site-alert-lineheight: var(--font-lineheight-3);
  --site-alert-link-color: hsl(var(--white));
  --site-alert-link-color-hover: hsl(var(--ucla-blue));
  --site-alert-link-padding-block-start: 0;
  --site-alert-box-shadow: inset 0 -2px 0 0 hsl(var(--white));
  --site-alert-box-shadow-hover: inset 0 -2em 0 0 hsl(var(--white));
  --site-alert-box-shadow-focus: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--silver-screen) / 15%);

  /* Site Secondary */
  --site-secondary-background-color: hsl(var(--midnight-joshua-tree));
  --site-secondary-color: hsl(var(--white));

  /* Menu Secondary */
  --menu-secondary-link-color-mobile: hsl(var(--midnight-joshua-tree));
  --menu-secondary-link-color-hover-mobile: hsl(var(--ucla-blue));
  --menu-secondary-link-font-size-mobile: var(--font-size-3);
  --menu-secondary-link-font-weight-mobile: var(--font-weight-500);
  --menu-secondary-link-color-desktop: hsl(var(--white));
  --menu-secondary-link-color-hover-desktop: hsl(var(--silver-screen));
  --menu-secondary-link-font-size-desktop: var(--font-size-1);
  --menu-secondary-link-font-weight-desktop: var(--font-weight-400);

  /* Search button */
  --search-button-color: hsl(var(--white));
  --search-button-border-color: hsl(var(--white));
  --search-button-box-shadow: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--gray-8) / 15%);
  --search-button-font-size: var(--font-size-1);

  /* Site search */
  --site-search-background-color: hsl(var(--gray-9));
  --site-search-modal-background-color: hsl(var(--white));
  --site-search-heading-font-size: var(--font-size-11);
  --site-search-heading-font-weight: var(--font-weight-400);
  --site-search-heading-span-font-size: var(--font-size-2);
  --site-search-links-font-size: var(--font-size-5);

  /* Site primary */
  --site-primary-background-color: hsl(var(--white));
  --site-primary-content-background-color: hsl(var(--white));

  /* Mobile button */
  --mobile-button-color: hsl(var(--midnight-joshua-tree));
  --mobile-button-font-size: var(--font-size-1);
  --mobile-button-outline: 2px solid hsl(var(--midnight-joshua-tree));
  --mobile-button-icon-background-color: hsl(var(--ucla-blue));

  /* Menu toggle */
  --menu-toggle-icon-color: hsl(var(--midnight-joshua-tree));

  /* Menu caret */
  --menu-caret-border-bottom: 10px solid hsl(var(--ucla-blue));

  /* Menu Main level 2 */
  --menu-main-level-2-border-left: 18px solid hsl(var(--ucla-blue));
  --menu-main-level-2-border-top: 9px solid hsl(var(--ucla-blue));

  /* Menu link inner */
  --menu-main-link-inner-border-top: 5px solid hsl(var(--ucla-blue));

  /* Menu link level 1 */
  --menu-main-link-level-1-color: hsl(var(--midnight-joshua-tree));
  --menu-main-link-level-1-hover-color: hsl(var(--ucla-blue));
  --menu-main-link-level-1-border: 2px solid hsl(var(--midnight-joshua-tree));
  --menu-main-link-level-1-font-size-mobile: var(--font-size-6);
  --menu-main-link-level-1-font-weight-mobile: var(--font-weight-700);
  --menu-main-link-level-1-letterspacing-mobile: var(--font-letterspacing-0);
  --menu-main-link-level-1-lineheight-mobile: var(--font-lineheight-2);
  --menu-main-link-level-1-font-weight-desktop: var(--font-weight-700);
  --menu-main-link-level-1-font-size-desktop: var(--font-size-2);
  --menu-main-link-level-1-letterspacing-desktop: var(--font-letterspacing-0);
  --menu-main-link-level-1-lineheight-desktop: var(--font-lineheight-4);

  /* Menu link level 2 */
  --menu-main-link-level-2-color: hsl(var(--midnight-joshua-tree));
  --menu-main-link-level-2-hover-color: hsl(var(--midnight-joshua-tree));
  --menu-main-link-level-2-font-size: var(--font-size-1);
  --menu-main-link-level-2-font-weight: var(--font-weight-400);
  --menu-main-link-level-2-lineheight: var(--font-lineheight-1);

  /* Menu link level 3 */
  --menu-main-link-level-3-color: hsl(var(--malibu-dolphin));
  --menu-main-link-level-3-hover-color: hsl(var(--malibu-dolphin));
  --menu-main-link-level-3-font-size: var(--font-size-0);
  --menu-main-link-level-3-font-weight: var(--font-weight-400);
  --menu-main-link-level-3-lineheight: var(--font-lineheight-1);

  /* Menu main link inner */
  --menu-main-link-inner-level-2-border-top: 5px solid hsl(var(--ucla-blue));

  /* Menu main - dropdown */
  --menu-main-dropdown-active-color: hsl(var(--ucla-blue));
  --menu-main-dropdown-border-top-color: hsl(var(--midnight-joshua-tree));

  /* Menu main - mega */
  --menu-main-mega-level-1-active-color: hsl(var(--ucla-blue));
  --menu-main-mega-level-2-border-top-color: hsl(var(--midnight-joshua-tree));
  --menu-main-mega-level-2-font-weight: var(--font-weight-600);
  --menu-main-mega-level-3-border-top-color: hsl(var(--malibu-dolphin));

  /* Menu quicklinks */
  --menu-quicklinks-background-color: hsl(var(--silver-screen) / 20%);
  --menu-quicklinks-border: 2px solid var(--white);
  --menu-quicklinks-color: var(--midnight-joshua-tree);
  --menu-quicklinks-hover-color: var(--midnight-joshua-tree);
  --menu-quicklinks-hover-border-color: hsl(var(--silver-screen) / 30%);
  --menu-quicklinks-hover-background-color: hsl(var(--silver-screen) / 30%);

  /* Site footer */
  --site-footer-background-color: hsl(var(--midnight-joshua-tree));
  --site-footer-color: hsl(var(--white));

  /* Menu social */
  --menu-social-link-color: hsl(var(--silver-screen));
  --menu-social-inline-size: var(--size-4);

  /* Site credit */
  --site-credit-color: hsl(var(--silver-screen));

  /* Tabs link */
  --tabs-link-background-color: hsl(var(--gray-2));
  --tabs-link-border: 1px solid hsl(var(--gray-3));
  --tabs-link-color: hsl(var(--gray-9));
  --tabs-link-font-size: var(--font-size-0);
  --tabs-link-outline: 3px solid hsl(var(--ucla-blue));
  --tabs-link-hover-background-color: hsl(var(--gray-1));
  --tabs-link-active-color: hsl(var(--gray-9));
  --tabs-link-active-font-weight: var(--font-weight-600);
  --tabs-link-active-border-inline: 6px solid hsl(var(--ucla-blue));
  --tabs-link-active-border-block: 6px solid hsl(var(--ucla-blue));
  --tabs-trigger-background-color: hsl(var(--gray-2));
  --tabs-trigger-border: 1px solid hsl(var(--gray-1));
  --tabs-trigger-hover-background-color: hsl(var(--gray-1));
  --tabs-trigger-hover-border-color: hsl(var(--ucla-blue));
  --tabs-trigger-icon-border-block: 2px solid hsl(var(--ucla-blue));

  /* Breadcrumb */
  --breadcrumb-font-size: var(--font-size-0);
  --breadcrumb-font-weight: var(--font-weight-700);
  --breadcrumb-lineheight: var(--font-lineheight-2);
  --breadcrumb-after-background: linear-gradient(to left, hsl(var(--white)) 0%, hsl(var(--white)) 100%);
  --breadcrumb-item-border: 2px solid hsl(var(--gray-6));
  --breadcrumb-link-color: hsl(var(--ucla-blue));
}
