:where([data-theme="surface"]) {
  /* Backgrounds */
  --bg-dark: hsl(var(--black));
  --bg-light: hsl(var(--white));
  --bg-ucla-blue: hsl(var(--ucla-blue));
  --bg-ucla-yellow: hsl(var(--ucla-yellow));
  --bg-midnight-joshua-tree: hsl(var(--midnight-joshua-tree));
  --bg-santa-monica-sunset: hsl(var(--santa-monica-sunset));
  --bg-santa-barbara-sand: hsl(var(--santa-barbara-sand));
  --bg-malibu-dolphin: hsl(var(--malibu-dolphin));
  --bg-silver-screen: hsl(var(--silver-screen));
  --bg-topanga-creek: hsl(var(--topanga-creek));
  --bg-venice-canal: hsl(var(--venice-canal));

  /* Text */
  --text-dark: hsl(var(--black));
  --text-light: hsl(var(--white));
  --text-ucla-blue: hsl(var(--ucla-blue));
  --text-ucla-yellow: hsl(var(--ucla-yellow));
  --text-midnight-joshua-tree: hsl(var(--midnight-joshua-tree));
  --text-santa-monica-sunset: hsl(var(--santa-monica-sunset));
  --text-malibu-dolphin: hsl(var(--malibu-dolphin));
  --text-malibu-dolphin-light: hsl(var(--malibu-dolphin) / 70%);
  --text-silver-screen: hsl(var(--silver-screen));
  --text-topanga-creek: hsl(var(--topanga-creek));
  --text-venice-canal: hsl(var(--venice-canal));

  /* Site Alert */
  --site-alert-background-color: hsl(var(--ucla-blue));
  --site-alert-color: hsl(var(--white));
  --site-alert-font-size: var(--font-size-1);

  /* Site Secondary */
  --site-secondary-background-color: hsl(var(--midnight-joshua-tree));
  --site-secondary-color: hsl(var(--white));

  /* Menu Secondary */
  --menu-secondary-link-color-desktop: hsl(var(--white));
  --menu-secondary-link-color-hover-desktop: hsl(var(--silver-screen));
  --menu-secondary-link-font-size-desktop: var(--font-size-1);
  --menu-secondary-link-font-weight-desktop: var(--font-weight-400);
  --menu-secondary-link-color-mobile: hsl(var(--midnight-joshua-tree));
  --menu-secondary-link-color-hover-mobile: hsl(var(--ucla-blue));
  --menu-secondary-link-font-size-mobile: var(--font-size-3);
  --menu-secondary-link-font-weight-mobile: var(--font-weight-500);
}
