:where(html) {
  --color-dark: 0 0% 0%;
  --color-light: 0 0% 100%;

  /* Containers */
  --max-width: 1440px;

  .surface--dgsom & {
    --font-sans: Karbon, Helvetica, sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
  }
}
