:where([data-theme="dgsom"]) {
  /* Typography */
  --font-sans: Karbon, Helvetica, sans-serif;
  --font-body: var(--font-sans);
  --font-headings: var(--font-sans);

  /* Buttons */
  --button-font-size: var(--font-size-2);
  --button-padding-block-end: var(--size-05);

  /* Site Alert */
  --site-alert-background-color: hsl(var(--ucla-blue));
  --site-alert-color: hsl(var(--white));
  --site-alert-font-size: var(--font-size-2);
  --site-alert-lineheight: var(--font-lineheight-3);
  --site-alert-link-color: hsl(var(--white));
  --site-alert-link-color-hover: hsl(var(--ucla-blue));
  --site-alert-link-padding-block-start: var(--size-05);
  --site-alert-box-shadow: inset 0 -2px 0 0 hsl(var(--white));
  --site-alert-box-shadow-hover: inset 0 -2em 0 0 hsl(var(--white));
  --site-alert-box-shadow-focus: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--silver-screen) / 15%);

  /* Site Secondary */
  --site-secondary-background-color: hsl(var(--midnight-joshua-tree));
  --site-secondary-color: hsl(var(--white));

  /* Menu Secondary */
  --menu-secondary-link-color-desktop: hsl(var(--white));
  --menu-secondary-link-color-hover-desktop: hsl(var(--silver-screen));
  --menu-secondary-link-font-size-desktop: var(--font-size-2);
  --menu-secondary-link-font-weight-desktop: var(--font-weight-400);
  --menu-secondary-link-color-mobile: hsl(var(--midnight-joshua-tree));
  --menu-secondary-link-color-hover-mobile: hsl(var(--ucla-blue));
  --menu-secondary-link-font-size-mobile: var(--font-size-3);
  --menu-secondary-link-font-weight-mobile: var(--font-weight-500);

  /* Search button */
  --search-button-color: hsl(var(--white));
  --search-button-border-color: hsl(var(--white));
  --search-button-box-shadow: 0 0 0 2px hsl(var(--white)), 0 0 0 4px hsl(var(--gray-8) / 15%);
  --search-button-font-size: var(--font-size-2);

  /* Mobile button */
  --mobile-button-color: solid 2px hsl(var(--midnight-joshua-tree));
  --mobile-button-font-size: var(--font-size-2);
  --mobile-button-outline: solid 2px hsl(var(--midnight-joshua-tree));
  --mobile-button-icon-background-color: hsl(var(--ucla-blue));

  /* Menu toggle */
  --menu-toggle-icon-color: hsl(var(--midnight-joshua-tree));

  /* Menu caret */
  --menu-caret-border-bottom: solid 10px hsl(var(--ucla-blue));

  /* Menu Main level 2 */
  --menu-main-level-2-border-left: solid 18px hsl(var(--ucla-blue));
  --menu-main-level-2-border-top: solid hsl(var(--ucla-blue)) 9px;

  /* Menu link inner */
  --menu-main-link-inner-border-top: solid 5px hsl(var(--ucla-blue));

  /* Menu link level 1 */
  --menu-main-link-level-1-color: hsl(var(--midnight-joshua-tree));
  --menu-main-link-level-1-font-size-mobile: var(--font-size-6);
  --menu-main-link-level-1-font-size-desktop: var(--font-size-3);
  --menu-main-link-level-1-font-weight-mobile: var(--font-weight-500);
  --menu-main-link-level-1-font-weight-desktop: var(--font-weight-500);
  --menu-main-link-level-1-letterspacing-mobile: var(--font-letterspacing-0);
  --menu-main-link-level-1-lineheight-mobile: var(--font-lineheight-2);
  --menu-main-link-level-1-letterspacing-desktop: var(--font-letterspacing-0);
  --menu-main-link-level-1-lineheight-desktop: var(--font-lineheight-4);
}
