/**
 * @file
 * Secondary Toolbar.
 */

.gin-secondary-toolbar__layout-container {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--size-2);

  @media (--toolbar) {
    padding-inline: var(--size-4);
  }
}
