/**
 * @file
 * Header Search Wide Block.
 */

.search-wide__wrapper {
  background: hsl(var(--gray-9));
  display: block;
  height: var(--size-18);
  inset-block-start: 100%;
  inset-inline-start: 0;
  margin-block: 0;
  margin-inline: 0;
  max-height: 0;
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.is-active {
    max-height: var(--size-18);
    visibility: visible;
  }
}

.search-wide__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--size-4);

  .container-inline & {
    display: grid;
  }
}

.search-wide__button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  color: hsl(var(--color-light));
  cursor: pointer;
  display: inline-flex;
  position: relative;

  &:focus {
    box-shadow: 0 0 0 2px hsl(var(--color-light)), 0 0 0 4px hsl(var(--gray-8) / 15%);
    outline: none;
  }

  &[aria-expanded='true'] {
    &:focus::after {
      border-color: hsl(0, 0%, 100%);
    }
  }

  & svg {
    margin-inline-end: var(--size-1);
  }

  @media (forced-colors: active) {
    background: ButtonFace;

    & path {
      fill: ButtonText;
    }
  }
}
