<button class="mobile-button" data-drupal-selector="mobile-button" aria-label="Main Menu" aria-controls="header-nav" aria-expanded="false">
  <span class="mobile-button__label">Menu</span>
  <span class="mobile-button__icon"></span>
</button>
