/**
 * @file
 * Mobile button.
 */

.mobile-button {
  align-items: center;
  align-self: center;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: var(--size-4);
  position: relative;
  width: auto;

  &:focus {
    outline: solid 2px hsl(var(--blue-9));
  }

  &:active {
    color: inherit;
  }

  &[aria-expanded="true"] {
    .mobile-button__icon {
      background-color: transparent;

      &::before {
        inset-block-start: 0;
        transform: rotate(-45deg);
      }

      &::after {
        inset-block-start: 0;
        transform: rotate(45deg);
      }
    }
  }

  .is-active & {
    position: fixed;
    right: 35px;
    top: 10px;
    z-index: 1;
  }

  @media (--xl) {
    display: none;
  }
}

.mobile-button__label {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal;

  @media (--sm) {
    clip: auto;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.05em;
    margin-inline-end: 12px;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.mobile-button__icon {
  background-color: hsl(var(--blue-5));
  display: block;
  height: 3px;
  position: relative;
  width: var(--size-4);

  &::before {
    background-color: hsl(var(--blue-5));
    content: "";
    height: 3px;
    inset-block-start: -8px;
    inset-inline-start: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }

  &::after {
    background-color: hsl(var(--blue-5));
    content: "";
    height: 3px;
    inset-block: auto -8px;
    inset-inline-start: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }
}
