/**
 * @file
 * Branding styles.
 */

.site-branding {
  max-width: 100%;
  padding-block: var(--size-2);
  padding-inline-end: var(--size-2);
  text-decoration: none;

  & img {
    max-width: 100%;
    width: 350px;
  }
}
