/**
 * @file
 * Branding styles.
 */

.site-branding {
  display: inline-block;
  max-inline-size: 100%;
  text-decoration: none;

  @media (--desktop) {
    padding-inline-end: var(--size-4);
  }

  & img {
    max-inline-size: 100%;
    width: 355px;
  }
}

.site-branding--footer {
  margin-block-end: var(--size-6);
}
