<nav id="site-navigation" class="site-navigation" data-drupal-selector="site-navigation">
  {% include '@components/mobile-button/mobile-button.twig' %}

  <div class="site-navigation-container">
    {% block menu %}
      {% include '@components/menu-main/menu-main.twig' with {
        'menu': menu,
        'is_demo': is_demo,
        'items': items
      } %}
    {% endblock %}
  </div>
</nav>
