/**
 * @file
 * Quicklinks menu styling.
 */

.menu-quicklinks {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  .menu__item {
    margin-inline-end: var(--size-2);

    &:last-child {
      margin-inline-end: 0;
    }
  }

  .menu__link {
    background-color: var(--menu-quicklinks-background-color);
    border: var(--menu-quicklinks-border);
    border-radius: 20px;
    color: var(--menu-quicklinks-color);
    cursor: pointer;
    display: inline-block;
    padding-block: var(--size-3);
    padding-inline: var(--size-5);
    text-decoration: none;
    text-transform: none;
    transition-duration: 200ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: var(--menu-quicklinks-hover-background-color);
      border-color: var(--menu-quicklinks-hover-border-color);
      color: var(--menu-quicklinks-hover-color);
    }
  }
}
