/**
 * @file
 * Copyright styles.
 */

.copyright {
  color: var(--copyright-color));
  display: flex;
  font-size: var(--copyright-font-size);
  grid-column: 1 / 7;
  order: 1;
  text-transform: uppercase;

  @media (--xl) {
    grid-column: 1 / 6;
    order: 0;
  }
}
