<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front lpb-dialog ui-dialog-buttons" aria-labelledby="ui-id-3">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-3" class="ui-dialog-title">Edit Image</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="lpb-dialog-5c09e9ccabd5cb3704b32d2fe6e91c37" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: 713.203px; height: auto;">
		<form class="layout-paragraphs-component-form" data-drupal-selector="edit-layout-paragraphs-component-form" action="/layout-paragraphs-builder/5c09e9ccabd5cb3704b32d2fe6e91c37/edit/db85c5ac-eb18-4cec-9390-13fe84c6c03b" method="post" id="layout-paragraphs-component-form--MQb5HOkEM68" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-field-sf-image-selection-0-remove-button--qQeZ0e9J4sQ,edit-field-sf-image-media-library-update-widget--M8_ln9PLqPQ,edit-field-sf-image-open-button--EMm65quFdas,edit-behavior-plugins-style-options-spacer-css-class--z0__Xkh4lJQ,edit-actions-submit--QSk3VK5-5OM,edit-actions-promote-to-library--1Xx-kAMfueg,edit-actions-cancel--3wIfACS01ZE">
			<div class="field--type-entity-reference field--name-field-sf-image field--widget-media-library-widget js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image-wrapper" id="edit-field-sf-image-wrapper--B7R6UpCGopM">
				<fieldset id="field_sf_image-media-library-wrapper" class="js-media-library-widget fieldset js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image" aria-describedby="field_sf_image-media-library-wrapper--description">
					<legend class="fieldset__legend fieldset__legend--visible">
						<span class="fieldset__label">Image</span>
					</legend>
					<div class="fieldset__wrapper">
						<span class="fieldset__prefix">No media items are selected.</span>
						<div class="js-media-library-selection js-form-wrapper form-wrapper media-library-selection" data-drupal-selector="edit-field-sf-image-selection" id="edit-field-sf-image-selection--usA1RM3EO0U"></div>
						<input class="" data-media-library-widget-value="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-selection" type="hidden" name="field_sf_image[media_library_selection]" value="">
						<input class="js-hide button js-form-submit form-submit" data-media-library-widget-update="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-update-widget" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-media-library-update-widget--YtGsA2spLNI" name="field_sf_image-media-library-update" value="Update widget" data-once="drupal-ajax">
						<span class="fieldset__suffix">
							<input class="js-media-library-open-button media-library-open-button button js-form-submit form-submit" data-drupal-selector="edit-field-sf-image-open-button" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-sf-image-open-button--lLjZrKDw0Lg" name="field_sf_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
						</span>
						<div id="field_sf_image-media-library-wrapper--description" data-drupal-field-elements="description" class="fieldset__description">One media item remaining.</div>
					</div>
				</fieldset>
			</div>
			<input class="" autocomplete="off" data-drupal-selector="form-mhbphneuvltt0mgt0kjkk1fc8g7-gbaeegd1tolbmk0" type="hidden" name="form_build_id" value="form-PMhlzp3T8cIAX65zWjl62ScALkVk8s26J-64sthfvdg">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-form-token-k-k1vfctnps" type="hidden" name="form_token" value="9C_GEn4uGjQPgQS5Lb_fyYgy0lY9b2Maj19YNBrymcM">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-lm0vwnf6pay" type="hidden" name="form_id" value="layout_paragraphs_component_form">
			<details class="details  lpb-behavior-plugins js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins" data-once="details">
				<summary class="details__summary" role="button" aria-controls="edit-behavior-plugins--PG0w0Jpl6ig" aria-expanded="false" aria-pressed="false">
					Layout options
					<span class="summary"></span>
				</summary>
				<div class="details__wrapper">
					<div class="lpb-behavior-plugins__style-options js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins-style-options" id="edit-behavior-plugins-style-options--_6rpdIcoqG0">
						<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-behavior-plugins-style-options-spacer-css-class form-item--behavior-plugins-style-options-spacer-css-class">
							<label class="form-item__label" for="edit-behavior-plugins-style-options-spacer-css-class--z0__Xkh4lJQ">Spacer</label>
							<select data-drupal-selector="edit-behavior-plugins-style-options-spacer-css-class" id="edit-behavior-plugins-style-options-spacer-css-class--z0__Xkh4lJQ" name="behavior_plugins[style_options][spacer][css_class]" class="form-select form-element form-element--type-select">
								<option value="0">None</option>
								<option value="1">xsmall</option>
								<option value="2">small</option>
								<option value="3">medium</option>
								<option value="4">large</option>
								<option value="5">xlarge</option>
							</select>
						</div>
					</div>
				</div>
			</details>
			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--hqnSBlzZ434">
				<input class="lpb-btn--save button--primary button js-form-submit form-submit" data-disable-refocus="true" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit--QSk3VK5-5OM" name="op" value="Save" data-once="drupal-ajax" style="display: none;">
				<input class="lpb-btn--promote-to-library button js-form-submit form-submit" data-drupal-selector="edit-actions-promote-to-library" type="submit" id="edit-actions-promote-to-library--1Xx-kAMfueg" name="promote-to-library" value="Promote to library" data-once="drupal-ajax" style="display: none;">
				<input class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit" data-drupal-selector="edit-actions-cancel" type="submit" id="edit-actions-cancel--3wIfACS01ZE" name="op" value="Cancel" data-once="drupal-ajax" style="display: none;">
			</div>
		</form>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="lpb-btn--save button--primary button js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
			<button type="button" class="lpb-btn--promote-to-library button js-form-submit form-submit ui-button ui-corner-all ui-widget">Promote to library</button>
			<button type="button" class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit ui-button ui-corner-all ui-widget">Cancel</button>
		</div>
	</div>
</div>
