<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front lpb-dialog ui-dialog-buttons" aria-labelledby="ui-id-1">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-1" class="ui-dialog-title">Edit Image</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="lpb-dialog-f105d66b5dd95406c508a7425641a40c" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: 459.203px; height: auto;">
		<form class="layout-paragraphs-component-form" data-drupal-selector="edit-layout-paragraphs-component-form" action="/layout-paragraphs-builder/f105d66b5dd95406c508a7425641a40c/edit/ed2482d1-ad0a-4e7b-b0d0-3265425659db" method="post" id="layout-paragraphs-component-form--lN_Aqga_k2c" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-field-sf-image-selection-0-remove-button--pyhsmKEVPBg,edit-field-sf-image-media-library-update-widget--rXAHtT_Wxjs,edit-field-sf-image-open-button--Eiqn9iownt8,edit-behavior-plugins-style-options-spacer-css-class--XwvoR3Kope0,edit-actions-submit--iwp4htQkX9k,edit-actions-promote-to-library--Hkn8heLZEJY,edit-actions-cancel--GCQRST3ZJ9Y">
			<div class="field--type-entity-reference field--name-field-sf-image field--widget-media-library-widget js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image-wrapper" id="edit-field-sf-image-wrapper--W4dZHu24OOU">
				<fieldset id="field_sf_image-media-library-wrapper" class="js-media-library-widget js-media-library-edit-field-sf-image-wrapper fieldset js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image" aria-describedby="field_sf_image-media-library-wrapper--description">
					<legend class="fieldset__legend fieldset__legend--visible">
						<span class="fieldset__label">Image</span>
					</legend>
					<div class="fieldset__wrapper">
						<span class="fieldset__prefix"></span>
						<div class="js-media-library-selection js-form-wrapper form-wrapper media-library-selection" data-drupal-selector="edit-field-sf-image-selection" id="edit-field-sf-image-selection--rkIdAdtie3s">
							<div class="js-media-library-item media-library-item media-library-item--grid" tabindex="-1" data-media-library-item-delta="0" data-drupal-selector="edit-field-sf-image-selection-0" draggable="false">
								<input class="media-library-item__remove icon-link button js-form-submit form-submit" aria-label="Remove chaz-beach.jpg" data-drupal-selector="edit-field-sf-image-selection-0-remove-button" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-selection-0-remove-button--pyhsmKEVPBg" name="field_sf_image-0-media-library-remove-button" value="Remove" data-once="drupal-ajax">
								<article data-drupal-selector="edit-field-sf-image-selection-0-rendered-entity" class="media-library-item__preview-wrapper">
									<div class="media-library-item__preview js-media-library-item-preview">
										<div class="field field--name-thumbnail field--type-image field--label-hidden field__item">
											<img src="/sites/default/files/styles/medium/public/2023-01/chaz-beach.jpg?itok=dJpBjG1C" width="220" height="165" alt="Chaz at the beach" loading="lazy" class="image-style-medium" draggable="false">
										</div>
									</div>
									<div class="media-library-item__attributes">
										<div class="media-library-item__name">
											chaz-beach.jpg
										</div>
									</div>
								</article>
								<input class="" data-drupal-selector="edit-field-sf-image-selection-0-target-id" type="hidden" name="field_sf_image[selection][0][target_id]" value="10">
								<a href="/media/10/edit?media_library_edit=ajax" class="js-media-library-edit-link media-library-edit__link use-ajax" target="_blank" data-dialog-options="{&quot;height&quot;:&quot;75%&quot;,&quot;width&quot;:&quot;75%&quot;,&quot;classes&quot;:{&quot;ui-dialog-content&quot;:&quot;media-library-edit__modal&quot;}}" data-dialog-type="modal" data-drupal-selector="edit-field-sf-image-selection-0-media-edit" id="edit-field-sf-image-selection-0-media-edit--y-oyMH_ap40" data-once="ajax" draggable="false">Edit media item</a>
							</div>
						</div>
						<input class="" data-media-library-widget-value="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-selection" type="hidden" name="field_sf_image[media_library_selection]" value="">
						<input class="js-hide button js-form-submit form-submit" data-media-library-widget-update="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-update-widget" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-media-library-update-widget--rXAHtT_Wxjs" name="field_sf_image-media-library-update" value="Update widget" data-once="drupal-ajax">
						<span class="fieldset__suffix">
							<input class="js-media-library-open-button visually-hidden media-library-open-button button js-form-submit form-submit is-disabled" data-drupal-selector="edit-field-sf-image-open-button" disabled="disabled" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-sf-image-open-button--Eiqn9iownt8" name="field_sf_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
						</span>
						<div id="field_sf_image-media-library-wrapper--description" data-drupal-field-elements="description" class="fieldset__description">The maximum number of media items have been selected.</div>

					</div>
				</fieldset>
			</div>
			<input class="" autocomplete="off" data-drupal-selector="form-g5b53ysydjfdgxgtmycn1lmm4ibeni8j4qsyan5sgfe" type="hidden" name="form_build_id" value="form-g5b53YSydJFdGXGtMycn1LMM4IBENi8J4qsyAN5sGfE">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-form-token-scutt4b0-0i" type="hidden" name="form_token" value="wax1RWUJqTy2JfKUoCdKgVWsIET5LS_ReWn3nryaR58">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-lh2nkzbuia0" type="hidden" name="form_id" value="layout_paragraphs_component_form">
			<details class="details  lpb-behavior-plugins js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins" data-once="details">
				<summary class="details__summary" role="button" aria-controls="edit-behavior-plugins--nnEgod_51rU" aria-expanded="false" aria-pressed="false">
					Layout options
					<span class="summary"></span>
				</summary>
				<div class="details__wrapper">
					<div class="lpb-behavior-plugins__style-options js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins-style-options" id="edit-behavior-plugins-style-options--pRRop-jrKKo">
						<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-behavior-plugins-style-options-spacer-css-class form-item--behavior-plugins-style-options-spacer-css-class">
							<label class="form-item__label" for="edit-behavior-plugins-style-options-spacer-css-class--XwvoR3Kope0">Spacer</label>
							<select data-drupal-selector="edit-behavior-plugins-style-options-spacer-css-class" id="edit-behavior-plugins-style-options-spacer-css-class--XwvoR3Kope0" name="behavior_plugins[style_options][spacer][css_class]" class="form-select form-element form-element--type-select">
								<option value="0">None</option>
								<option value="1">xsmall</option>
								<option value="2">small</option>
								<option value="3">medium</option>
								<option value="4">large</option>
								<option value="5">xlarge</option>
							</select>
						</div>
					</div>
				</div>
			</details>
			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--Qgo_qy0xXog">
				<input class="lpb-btn--save button--primary button js-form-submit form-submit" data-disable-refocus="true" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit--iwp4htQkX9k" name="op" value="Save" data-once="drupal-ajax" style="display: none;">
				<input class="lpb-btn--promote-to-library button js-form-submit form-submit" data-drupal-selector="edit-actions-promote-to-library" type="submit" id="edit-actions-promote-to-library--Hkn8heLZEJY" name="promote-to-library" value="Promote to library" data-once="drupal-ajax" style="display: none;">
				<input class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit" data-drupal-selector="edit-actions-cancel" type="submit" id="edit-actions-cancel--GCQRST3ZJ9Y" name="op" value="Cancel" data-once="drupal-ajax" style="display: none;">
			</div>
		</form>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="lpb-btn--save button--primary button js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
			<button type="button" class="lpb-btn--promote-to-library button js-form-submit form-submit ui-button ui-corner-all ui-widget">Promote to library</button>
			<button type="button" class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit ui-button ui-corner-all ui-widget">Cancel</button>
		</div>
	</div>
</div>
