<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front lpb-dialog" aria-describedby="lpb-dialog-d53a7e32ead6ea254e6240c2db60a851" aria-labelledby="ui-id-1">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-1" class="ui-dialog-title">Choose a component</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="lpb-dialog-d53a7e32ead6ea254e6240c2db60a851" class="ui-front ui-dialog-content ui-widget-content">
		<div class="lpb-component-list">
			<h4 class="visually-hidden">Add Item</h4>
			<div class="lpb-component-list__search">
				<input class="lpb-component-list-search-input" type="text" placeholder="Filter items...">
			</div>
			<div class="lpb-component-list__group">
				<div class="lpb-component-list__group--layout">
					<div class="lpb-component-list__item type-sf_section is-layout">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_section?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_section-default-icon.svg" alt="">Section</a>
					</div>
				</div>
				<div class="lpb-component-list__group--content">
					<div class="lpb-component-list__item type-from_library">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/from_library?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/from_library-default-icon.svg" alt="">From library</a>
					</div>
					<div class="lpb-component-list__item type-sf_accordion">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_accordion?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_accordion-default-icon.svg" alt="">Accordion</a>
					</div>
					<div class="lpb-component-list__item type-sf_alert">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_alert?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_alert-default-icon.svg" alt="">Alert</a>
					</div>
					<div class="lpb-component-list__item type-sf_block_embed">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_block_embed?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_block_embed-default-icon.svg" alt="">Block embed</a>
					</div>
					<div class="lpb-component-list__item type-sf_breadcrumb">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_breadcrumb?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_breadcrumb-default-icon.svg" alt="">Breadcrumb</a>
					</div>
					<div class="lpb-component-list__item type-sf_callout">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_callout?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_callout-default-icon.svg" alt="">Callout</a>
					</div>
					<div class="lpb-component-list__item type-sf_call_to_action">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_call_to_action?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_call_to_action-default-icon.svg" alt="">Call to action</a>
					</div>
					<div class="lpb-component-list__item type-sf_carousel">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_carousel?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_carousel-default-icon.svg" alt="">Carousel</a>
					</div>
					<div class="lpb-component-list__item type-sf_hero">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_hero?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_hero-default-icon.svg" alt="">Hero</a>
					</div>
					<div class="lpb-component-list__item type-sf_highlight">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_highlight?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_highlight-default-icon.svg" alt="">Highlight</a>
					</div>
					<div class="lpb-component-list__item type-sf_icon">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_icon?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_icon-default-icon.svg" alt="">Icon</a>
					</div>
					<div class="lpb-component-list__item type-sf_image">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_image?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_image-default-icon.svg" alt="">Image</a>
					</div>
					<div class="lpb-component-list__item type-sf_media_callout">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_media_callout?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_media_callout-default-icon.svg" alt="">Media callout</a>
					</div>
					<div class="lpb-component-list__item type-sf_media_quote">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_media_quote?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_media_quote-default-icon.svg" alt="">Media quote</a>
					</div>
					<div class="lpb-component-list__item type-sf_menu_embed">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_menu_embed?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_menu_embed-default-icon.svg" alt="">Menu embed</a>
					</div>
					<div class="lpb-component-list__item type-sf_metric">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_metric?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_metric-default-icon.svg" alt="">Metric</a>
					</div>
					<div class="lpb-component-list__item type-sf_page_title">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_page_title?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_page_title-default-icon.svg" alt="">Page title</a>
					</div>
					<div class="lpb-component-list__item type-sf_quote">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_quote?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_quote-default-icon.svg" alt="">Quote</a>
					</div>
					<div class="lpb-component-list__item type-sf_slider">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_slider?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_slider-default-icon.svg" alt="">Slider</a>
					</div>
					<div class="lpb-component-list__item type-sf_table">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_table?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_table-default-icon.svg" alt="">Table</a>
					</div>
					<div class="lpb-component-list__item type-sf_tabs">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_tabs?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_tabs-default-icon.svg" alt="">Tabs</a>
					</div>
					<div class="lpb-component-list__item type-sf_text">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_text?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_text-default-icon.svg" alt="">Text</a>
					</div>
					<div class="lpb-component-list__item type-sf_video">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_video?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_video-default-icon.svg" alt="">Video</a>
					</div>
					<div class="lpb-component-list__item type-sf_view_embed">
						<a class="use-ajax" href="/layout-paragraphs-builder/d53a7e32ead6ea254e6240c2db60a851/insert/sf_view_embed?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" data-once="ajax"><img src="/sites/default/files/paragraphs_type_icon/sf_view_embed-default-icon.svg" alt="">View embed</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
