<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front media-library-widget-modal ui-dialog-buttons" aria-describedby="drupal-modal" aria-labelledby="ui-id-4">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-4" class="ui-dialog-title">Add or select media</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close
		</button>
	</div>
	<div id="drupal-modal" class="ui-front ui-dialog-content ui-widget-content">
		<div id="media-library-add-form-wrapper">
			<form class="js-media-library-add-form media-library-add-form media-library-add-form--with-input media-library-add-form--upload" data-input="true" data-drupal-selector="media-library-add-form-upload-khjzrvrute0" enctype="multipart/form-data" action="/media-library?media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_sf_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=paragraph&amp;media_library_opener_parameters%5Bbundle%5D=sf_image&amp;media_library_opener_parameters%5Bfield_name%5D=field_sf_image&amp;hash=IgIG4PEmn98sLDDr9Rjho9AmacYywvM-zN3pRwGBiBQ&amp;ajax_form=1&amp;_wrapper_format=drupal_ajax" method="post" id="media-library-add-form-upload--khJZRvRUtE0" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-media-0-fields-field-media-image-0-alt--nkwHftxWu0g,edit-remove-button--NV6NA34toGA,edit-save-select--k6XO4Xug4NM">
				<p class="media-library-add-form__description">The media item has been created but has not yet been saved. Fill in any required fields and save to add it to the media library.</p>
				<ul class="js-media-library-add-form-added-media media-library-add-form__added-media" aria-label="Added media items" tabindex="-1" data-drupal-selector="edit-media">
					<li aria-label="avatar.png" tabindex="-1" data-media-library-added-delta="0" class="media-library-add-form__media">
						<div data-drupal-selector="edit-preview" class="media-library-add-form__preview js-form-wrapper form-wrapper" id="edit-preview--JTk8QtWCla8">
							<img data-drupal-selector="edit-thumbnail" src="/sites/default/files/styles/media_library/public/2023-01/avatar.png?itok=6xjh79Bv" alt="" class="image-style-media-library">
						</div>
						<div data-drupal-selector="edit-media-0-fields" class="media-library-add-form__fields js-form-wrapper form-wrapper" id="edit-media-0-fields--GeEPBKQYh7I">
							<div class="js-form-item form-item js-form-type-item form-type--item  js-form-item-name form-item--name" id="edit-name--ZwOks9q6Zow">
								<label class="form-item__label" for="edit-name--ZwOks9q6Zow">Name</label>
								avatar.png
							</div>
							<div class="field--type-image field--name-field-media-image field--widget-image-image media-library-add-form__source-field js-form-wrapper form-wrapper" data-drupal-selector="edit-media-0-fields-field-media-image-wrapper" id="edit-media-0-fields-field-media-image-wrapper--EONe8h-Xz20">
								<div id="ajax-wrapper--TnJ2SUGtzCo">
									<div class="js-form-item form-item js-form-type-managed-file form-type--managed-file  js-form-item-media-0-fields-field-media-image-0 form-item--media-0-fields-field-media-image-0 form-item--no-label">
										<div class="image-widget js-form-managed-file form-managed-file clearfix">
											<div class="js-form-item form-item js-form-type-textfield form-type--textfield  js-form-item-media-0-fields-field-media-image-0-alt form-item--media-0-fields-field-media-image-0-alt">
												<label class="form-item__label   js-form-required form-required" for="edit-media-0-fields-field-media-image-0-alt--nkwHftxWu0g">Alternative text</label>
												<input class="form-text required form-element form-element--type-text form-element--api-textfield" data-drupal-selector="edit-media-0-fields-field-media-image-0-alt" aria-describedby="edit-media-0-fields-field-media-image-0-alt--nkwHftxWu0g--description" type="text" id="edit-media-0-fields-field-media-image-0-alt--nkwHftxWu0g" name="media[0][fields][field_media_image][0][alt]" value="" size="60" maxlength="512" required="required" aria-required="true">
												<div class="form-item__description  form-item__description" id="edit-media-0-fields-field-media-image-0-alt--nkwHftxWu0g--description">
													Short description of the image used by screen readers and displayed when the image is not loaded. This is important for accessibility.
												</div>
											</div>
											<input class="" data-drupal-selector="edit-media-0-fields-field-media-image-0-fids" type="hidden" name="media[0][fields][field_media_image][0][fids]" value="37">
											<input class="" data-drupal-selector="edit-media-0-fields-field-media-image-0-display" type="hidden" name="media[0][fields][field_media_image][0][display]" value="1">
										</div>
									</div>
								</div>
							</div>
							<div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-media-0-fields-langcode-wrapper" id="edit-media-0-fields-langcode-wrapper--uLYph8N7Ivw"></div>
						</div>
						<input class="media-library-add-form__remove-button button--extrasmall button js-form-submit form-submit" aria-label="Remove avatar.png" data-drupal-selector="edit-remove-button" formnovalidate="formnovalidate" type="submit" id="edit-remove-button--NV6NA34toGA" name="media-0-remove-button" value="Remove" data-once="drupal-ajax">
					</li>
				</ul>
				<input class="js-media-library-add-form-current-selection" data-drupal-selector="edit-current-selection" type="hidden" name="current_selection" value="">
				<input class="" autocomplete="off" data-drupal-selector="form-judtdx-rsi3ouf-ocullua2lr2spcxje5hiqqzqnsqg" type="hidden" name="form_build_id" value="form-judtDx_RSI3OUf-oculLUA2lr2spCxje5HIQQZQNsQg">
				<input class="" data-drupal-selector="edit-media-library-add-form-upload-form-token-rdtrzzicyfo" type="hidden" name="form_token" value="nVRSZM5qkqVnNf6BX_J119_2nVkHAvmRUJEh1WhM2Tc">
				<input class="" data-drupal-selector="edit-media-library-add-form-upload-q3xgrgaxck" type="hidden" name="form_id" value="media_library_add_form_upload">
				<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--A3E2-rj8_sM">
					<input class="button button--primary js-form-submit form-submit" data-drupal-selector="edit-save-select" type="submit" id="edit-save-select--k6XO4Xug4NM" name="op" value="Save" data-once="drupal-ajax" style="display: none;">
				</div>
			</form>
		</div>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="button button--primary js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
		</div>
		<div class="media-library-selected-count js-media-library-selected-count" role="status" aria-live="polite" aria-atomic="true">0 of 1 item selected</div>
	</div>
</div>
