<div class="lpb-form__actions form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions--2ISp-0NwHMk">
	<input class="button--primary button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--IKvKTASzfmk" name="op" value="Save" data-once="drupal-ajax" disabled=""><div class="ajax-progress ajax-progress-throbber">
		<div class="throbber">&nbsp;</div>
		<div class="message">Please wait...</div>
	</div>
	<input class="lpb-btn--cancel button js-form-submit form-submit" data-drupal-selector="edit-close" type="submit" id="edit-close--0_xYxGG7phw" name="op" value="Close" data-once="drupal-ajax">
</div>
