<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons lpb-dialog" aria-describedby="lpb-dialog-15bc205f59081c22dffd1c56ef52f484" aria-labelledby="ui-id-2">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-2" class="ui-dialog-title">Create new Image</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close
    </button>
	</div>
	<div id="lpb-dialog-15bc205f59081c22dffd1c56ef52f484" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: 269.203px; height: auto;">
		<form class="layout-paragraphs-component-form" data-drupal-selector="edit-layout-paragraphs-component-form" action="/layout-paragraphs-builder/15bc205f59081c22dffd1c56ef52f484/insert/sf_image?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after" method="post" id="layout-paragraphs-component-form--5VnDH8MeQ5k" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-field-sf-image-media-library-update-widget--pd_OLsThwbc,edit-field-sf-image-open-button--RLR1CVJVSfs,edit-behavior-plugins-style-options-spacer-css-class--6V61QeC6KLQ,edit-actions-submit--LjMtOE8-vjM,edit-actions-promote-to-library--Tfj_MgCs3EM,edit-actions-cancel--TugBehnGf7Y">
			<div class="field--type-entity-reference field--name-field-sf-image field--widget-media-library-widget js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image-wrapper" id="edit-field-sf-image-wrapper--KAjI5CFcO1o">
				<fieldset id="field_sf_image-media-library-wrapper" class="js-media-library-widget fieldset js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image" aria-describedby="field_sf_image-media-library-wrapper--description">
					<legend class="fieldset__legend fieldset__legend--visible">
						<span class="fieldset__label">Image</span>
					</legend>
					<div class="fieldset__wrapper">
						<span class="fieldset__prefix">No media items are selected.</span>
						<div class="js-media-library-selection js-form-wrapper form-wrapper media-library-selection" data-drupal-selector="edit-field-sf-image-selection" id="edit-field-sf-image-selection--cA7UrQUD_Ss"></div>
						<input class="" data-media-library-widget-value="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-selection" type="hidden" name="field_sf_image[media_library_selection]" value="">
						<input class="js-hide button js-form-submit form-submit" data-media-library-widget-update="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-update-widget" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-media-library-update-widget--pd_OLsThwbc" name="field_sf_image-media-library-update" value="Update widget" data-once="drupal-ajax">
						<span class="fieldset__suffix">
							<input class="js-media-library-open-button media-library-open-button button js-form-submit form-submit" data-drupal-selector="edit-field-sf-image-open-button" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-sf-image-open-button--RLR1CVJVSfs" name="field_sf_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
						</span>
						<div id="field_sf_image-media-library-wrapper--description" data-drupal-field-elements="description" class="fieldset__description">One media item remaining.</div>
					</div>
				</fieldset>
			</div>
			<input class="" autocomplete="off" data-drupal-selector="form-efonbjnev-fquqdlaaopkokegyqrhromv460sc3t-ew" type="hidden" name="form_build_id" value="form-EfONBjNEv_fqUQdLAAoPKOkEgyqRHroMV460Sc3t_Ew">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-form-token-3yw6xmfcoc8" type="hidden" name="form_token" value="9C_GEn4uGjQPgQS5Lb_fyYgy0lY9b2Maj19YNBrymcM">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-mzuncvlpvbo" type="hidden" name="form_id" value="layout_paragraphs_component_form">
			<details class="details  lpb-behavior-plugins js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins" data-once="details">
				<summary class="details__summary" role="button" aria-controls="edit-behavior-plugins--_lk6bSb3EKw" aria-expanded="false" aria-pressed="false">
					Layout options
					<span class="summary"></span>
				</summary>
				<div class="details__wrapper">
					<div class="lpb-behavior-plugins__style-options js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins-style-options" id="edit-behavior-plugins-style-options--iPPLHCuceYg">
						<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-behavior-plugins-style-options-spacer-css-class form-item--behavior-plugins-style-options-spacer-css-class">
							<label class="form-item__label" for="edit-behavior-plugins-style-options-spacer-css-class--6V61QeC6KLQ">Spacer</label>
							<select data-drupal-selector="edit-behavior-plugins-style-options-spacer-css-class" id="edit-behavior-plugins-style-options-spacer-css-class--6V61QeC6KLQ" name="behavior_plugins[style_options][spacer][css_class]" class="form-select form-element form-element--type-select">
								<option value="0">None</option>
								<option value="1">xsmall</option>
								<option value="2">small</option>
								<option value="3">medium</option>
								<option value="4">large</option>
								<option value="5">xlarge</option>
							</select>
						</div>
					</div>
				</div>
			</details>
			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--mEqvgzmVSlU">
				<input class="lpb-btn--save button--primary button js-form-submit form-submit" data-disable-refocus="true" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit--LjMtOE8-vjM" name="op" value="Save" data-once="drupal-ajax" style="display: none;">
				<input class="lpb-btn--promote-to-library button js-form-submit form-submit" data-drupal-selector="edit-actions-promote-to-library" type="submit" id="edit-actions-promote-to-library--Tfj_MgCs3EM" name="promote-to-library" value="Promote to library" data-once="drupal-ajax" style="display: none;">
				<input class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit" data-drupal-selector="edit-actions-cancel" type="submit" id="edit-actions-cancel--TugBehnGf7Y" name="op" value="Cancel" data-once="drupal-ajax" style="display: none;">
			</div>
		</form>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="lpb-btn--save button--primary button js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
			<button type="button" class="lpb-btn--promote-to-library button js-form-submit form-submit ui-button ui-corner-all ui-widget">Promote to library</button>
			<button type="button" class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit ui-button ui-corner-all ui-widget">Cancel</button>
		</div>
	</div>
</div>
