<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front lpb-dialog ui-dialog-buttons" aria-labelledby="ui-id-1">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-1" class="ui-dialog-title">Edit Image</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="lpb-dialog-5f3688947f4c577003183e8a4ed60090" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: 434px; height: auto;">
		<form class="layout-paragraphs-component-form" data-drupal-selector="edit-layout-paragraphs-component-form" action="/layout-paragraphs-builder/5f3688947f4c577003183e8a4ed60090/edit/09e58639-4fd2-4504-8dbf-e06d1e10f7b2" method="post" id="layout-paragraphs-component-form--FXP-_iWm0oM" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-field-sf-image-selection-0-remove-button--hZ-1MO03iNI,edit-field-sf-image-media-library-update-widget--rM1cWzAfp2I,edit-field-sf-image-open-button--QFvlOTpDpb4,edit-behavior-plugins-style-options-spacer-css-class--62PPFHyFGQA,edit-actions-submit--REFYtlLrEFY,edit-actions-promote-to-library--ZyfUVc3Rvjs,edit-actions-cancel--mEhurVHas28">
			<div class="field--type-entity-reference field--name-field-sf-image field--widget-media-library-widget js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image-wrapper" id="edit-field-sf-image-wrapper--iNjOey3RloA">
				<fieldset id="field_sf_image-media-library-wrapper" class="js-media-library-widget js-media-library-edit-field-sf-image-wrapper fieldset js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image" aria-describedby="field_sf_image-media-library-wrapper--description">
					<legend class="fieldset__legend fieldset__legend--visible">
						<span class="fieldset__label">Image</span>
					</legend>
					<div class="fieldset__wrapper">
						<span class="fieldset__prefix"></span>
						<div class="js-media-library-selection js-form-wrapper form-wrapper media-library-selection" data-drupal-selector="edit-field-sf-image-selection" id="edit-field-sf-image-selection--F7hqz5YywyU">
							<div class="js-media-library-item media-library-item media-library-item--grid" tabindex="-1" data-media-library-item-delta="0" data-drupal-selector="edit-field-sf-image-selection-0">
								<input class="media-library-item__remove icon-link button js-form-submit form-submit" aria-label="Remove placeholder.jpeg" data-drupal-selector="edit-field-sf-image-selection-0-remove-button" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-selection-0-remove-button--hZ-1MO03iNI" name="field_sf_image-0-media-library-remove-button" value="Remove" data-once="drupal-ajax">
								<article data-drupal-selector="edit-field-sf-image-selection-0-rendered-entity" class="media-library-item__preview-wrapper">
									<div class="media-library-item__preview js-media-library-item-preview">
										<div class="field field--name-thumbnail field--type-image field--label-hidden field__item">
											<img src="/sites/default/files/styles/medium/public/2023-02/placeholder.jpeg?itok=7G_8yrqv" width="220" height="124" alt="Placeholder image" loading="lazy" class="image-style-medium">
										</div>
									</div>
									<div class="media-library-item__attributes">
										<div class="media-library-item__name">
											placeholder.jpeg
										</div>
									</div>
								</article>
								<input class="" data-drupal-selector="edit-field-sf-image-selection-0-target-id" type="hidden" name="field_sf_image[selection][0][target_id]" value="12">
								<a href="/media/12/edit?media_library_edit=ajax" class="js-media-library-edit-link media-library-edit__link use-ajax" target="_blank" data-dialog-options="{&quot;height&quot;:&quot;75%&quot;,&quot;width&quot;:&quot;75%&quot;,&quot;classes&quot;:{&quot;ui-dialog-content&quot;:&quot;media-library-edit__modal&quot;}}" data-dialog-type="modal" data-drupal-selector="edit-field-sf-image-selection-0-media-edit" id="edit-field-sf-image-selection-0-media-edit--DGY1CrS-rMM" data-once="ajax">Edit media item</a>
							</div>
						</div>
						<input class="" data-media-library-widget-value="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-selection" type="hidden" name="field_sf_image[media_library_selection]" value="">
						<input class="js-hide button js-form-submit form-submit" data-media-library-widget-update="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-update-widget" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-media-library-update-widget--rM1cWzAfp2I" name="field_sf_image-media-library-update" value="Update widget" data-once="drupal-ajax">
						<span class="fieldset__suffix">
							<input class="js-media-library-open-button visually-hidden media-library-open-button button js-form-submit form-submit is-disabled" data-drupal-selector="edit-field-sf-image-open-button" disabled="disabled" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-sf-image-open-button--QFvlOTpDpb4" name="field_sf_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
						</span>
						<div id="field_sf_image-media-library-wrapper--description" data-drupal-field-elements="description" class="fieldset__description">The maximum number of media items have been selected.</div>
					</div>
				</fieldset>
			</div>
			<input class="" autocomplete="off" data-drupal-selector="form-rspjm25uctdhpz7lmxj0estkh0g7kz2trxrmp5ob-f4" type="hidden" name="form_build_id" value="form-RSpJm25UCtDhPz7LMXj0EStkH0G7Kz2tRXRmP5OB-F4">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-form-token-2e81erjrvxm" type="hidden" name="form_token" value="qgLMBiTPmBeOLdpAlAxU7gJel_3_ndeSX0cyhe8JR_k">
			<input class="" data-drupal-selector="edit-layout-paragraphs-component-form-ra5p9qjoxze" type="hidden" name="form_id" value="layout_paragraphs_component_form">
			<details class="details  lpb-behavior-plugins js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins" data-once="details">
				<summary class="details__summary" role="button" aria-controls="edit-behavior-plugins--k3yrjmoYqaM" aria-expanded="false" aria-pressed="false">
					Layout options
					<span class="summary"></span>
				</summary>
				<div class="details__wrapper">
					<div class="lpb-behavior-plugins__style-options js-form-wrapper form-wrapper" data-drupal-selector="edit-behavior-plugins-style-options" id="edit-behavior-plugins-style-options--0HHUlSiOlIw">
						<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-behavior-plugins-style-options-spacer-css-class form-item--behavior-plugins-style-options-spacer-css-class">
							<select data-drupal-selector="edit-behavior-plugins-style-options-spacer-css-class" id="edit-behavior-plugins-style-options-spacer-css-class--62PPFHyFGQA" name="behavior_plugins[style_options][spacer][css_class]" class="form-select form-element form-element--type-select">
								<option value="0">None</option>
								<option value="1">xsmall</option>
								<option value="2">small</option>
								<option value="3">medium</option>
								<option value="4">large</option>
								<option value="5">xlarge</option>
							</select>
						</div>
					</div>
				</div>
			</details>
			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--hki0QTKjZgw">
				<input class="lpb-btn--save button--primary button js-form-submit form-submit" data-disable-refocus="true" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit--REFYtlLrEFY" name="op" value="Save" data-once="drupal-ajax" style="display: none;">
				<input class="lpb-btn--promote-to-library button js-form-submit form-submit" data-drupal-selector="edit-actions-promote-to-library" type="submit" id="edit-actions-promote-to-library--ZyfUVc3Rvjs" name="promote-to-library" value="Promote to library" data-once="drupal-ajax" style="display: none;">
				<input class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit" data-drupal-selector="edit-actions-cancel" type="submit" id="edit-actions-cancel--mEhurVHas28" name="op" value="Cancel" data-once="drupal-ajax" style="display: none;">
			</div>
		</form>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="lpb-btn--save button--primary button js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
			<button type="button" class="lpb-btn--promote-to-library button js-form-submit form-submit ui-button ui-corner-all ui-widget">Promote to library</button>
			<button type="button" class="dialog-cancel lpb-btn--cancel button js-form-submit form-submit ui-button ui-corner-all ui-widget">Cancel</button>
		</div>
	</div>
</div>
