<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front media-library-widget-modal ui-dialog-buttons" aria-describedby="drupal-modal" aria-labelledby="ui-id-5">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-5" class="ui-dialog-title">Add or select media</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="drupal-modal" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: 361.203px; height: auto;">
		<div id="media-library-wrapper" class="media-library-wrapper">
			<div id="media-library-content" class="media-library-content">
				<div id="media-library-add-form-wrapper">
					<form class="js-media-library-add-form media-library-add-form media-library-add-form--without-input media-library-add-form--upload" data-drupal-selector="media-library-add-form-upload-dnauy2e7-v8" enctype="multipart/form-data" action="/media-library?media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_sf_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=paragraph&amp;media_library_opener_parameters%5Bbundle%5D=sf_image&amp;media_library_opener_parameters%5Bfield_name%5D=field_sf_image&amp;hash=IgIG4PEmn98sLDDr9Rjho9AmacYywvM-zN3pRwGBiBQ" method="post" id="media-library-add-form-upload--dNAUY2E7-V8" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-upload-upload--LRvR3yv1egI,edit-upload-upload-button--Fyw_LtORvcw">
						<div class="media-library-add-form__input-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-container" id="edit-container--xys4RF9ApSk">
							<div id="ajax-wrapper--dslQ67Pq7Cc">
								<div class="js-form-item form-item js-form-type-managed-file form-type--managed-file  js-form-item-upload form-item--upload">
									<label class="form-item__label" for="edit-upload-upload--LRvR3yv1egI" id="edit-upload--MyqdNIcNwmc--label">Add file</label>
									<div id="edit-upload--MyqdNIcNwmc" class="js-form-managed-file form-managed-file is-single has-upload no-value no-meta">
										<div class="form-managed-file__main">
											<input class="js-form-file form-file form-element form-element--type-file form-element--api-file" data-drupal-selector="edit-upload-upload-lrvr3yv1egi" type="file" id="edit-upload-upload--LRvR3yv1egI" name="files[upload]" size="22" data-once="fileValidate auto-file-upload">
											<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-upload-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-upload-upload-button--Fyw_LtORvcw" name="upload_upload_button" value="Upload" data-once="drupal-ajax">
										</div>
										<input class="" data-drupal-selector="edit-upload-fids" type="hidden" name="upload[fids]">
									</div>
									<div class="form-item__description  form-item__description" id="edit-upload--MyqdNIcNwmc--description">
										One file only.<br>100 MB limit.<br>Allowed types: png gif jpg jpeg.
									</div>
								</div>
							</div>
						</div>
						<input class="js-media-library-add-form-current-selection" data-drupal-selector="edit-current-selection" type="hidden" name="current_selection" value="">
						<input class="" autocomplete="off" data-drupal-selector="form-bg0jm-offdntk-6ijg5bo71u5ymgtihzwnybllyepz0" type="hidden" name="form_build_id" value="form-bG0Jm-oFFdNtk-6IJG5Bo71U5yMGtiHzwNYbllyEPZ0">
						<input class="" data-drupal-selector="edit-media-library-add-form-upload-form-token-sli2wsezn-0" type="hidden" name="form_token" value="nVRSZM5qkqVnNf6BX_J119_2nVkHAvmRUJEh1WhM2Tc">
						<input class="" data-drupal-selector="edit-media-library-add-form-upload-9h-dz9srafq" type="hidden" name="form_id" value="media_library_add_form_upload">
					</form>
				</div>
				<div class="views-element-container" id="media-library-view">
					<div class="js-media-library-view media-library-view media-library-view--widget view view-media-library view-id-media_library view-display-id-widget js-view-dom-id-960d4d1142d944e3f380091921e2c8f1529c8c060e34a63dc69611dcb6ddb5a5" data-view-display-id="widget" data-once="ajax-pager">
						<div class="view-filters">
							<form class="views-exposed-form" aria-label="Filter the contents of the Media view" data-drupal-selector="views-exposed-form-media-library-widget" action="/admin/content/media-widget/image" method="get" id="views-exposed-form-media-library-widget" accept-charset="UTF-8" data-once="form-updated exposed-form" data-drupal-form-fields="edit-name--gQB2LIoauHU,edit-sort-by--k3ePCOfG6_Y">
								<div class="js-form-item form-item js-form-type-textfield form-type--textfield  js-form-item-name form-item--name">
									<label class="form-item__label" for="edit-name--gQB2LIoauHU">Name</label>
									<input class="form-text form-element form-element--type-text form-element--api-textfield" data-drupal-selector="edit-name" type="text" id="edit-name--gQB2LIoauHU" name="name" value="" size="30" maxlength="128">
								</div>
								<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-sort-by form-item--sort-by">
									<label class="form-item__label" for="edit-sort-by--k3ePCOfG6_Y">Sort by</label>
									<select data-drupal-selector="edit-sort-by" id="edit-sort-by--k3ePCOfG6_Y" name="sort_by" class="form-select form-element form-element--type-select">
										<option value="created" selected="selected">Newest first</option>
										<option value="name">Name (A-Z)</option>
										<option value="name_1">Name (Z-A)</option>
									</select>
								</div>
								<div data-drupal-selector="edit-actions" class="js-form-wrapper form-wrapper" id="edit-actions--Mjs2oqLjMTU">
									<input class="button js-form-submit form-submit" data-drupal-selector="edit-submit-media-library-zhtqtinvaqu" type="submit" id="edit-submit-media-library--zhtQTinVAQU" value="Apply filters">
								</div>
							</form>
						</div>
						<div class="view-header">
							<a href="/admin/content/media-widget/image?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after&amp;media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_sf_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=paragraph&amp;media_library_opener_parameters%5Bbundle%5D=sf_image&amp;media_library_opener_parameters%5Bfield_name%5D=field_sf_image&amp;hash=IgIG4PEmn98sLDDr9Rjho9AmacYywvM-zN3pRwGBiBQ" class="views-display-link views-display-link-widget is-active" data-once="media-library-views-display-link">Grid</a>
							<a href="/admin/content/media-widget-table/image?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after&amp;media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_sf_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=paragraph&amp;media_library_opener_parameters%5Bbundle%5D=sf_image&amp;media_library_opener_parameters%5Bfield_name%5D=field_sf_image&amp;hash=IgIG4PEmn98sLDDr9Rjho9AmacYywvM-zN3pRwGBiBQ" class="views-display-link views-display-link-widget_table" data-once="media-library-views-display-link">Table</a>
						</div>
						<div class="view-content">
							<div class="views-form">
								<form class="js-media-library-views-form media-library-views-form" data-drupal-media-type="image" data-drupal-selector="views-form-media-library-widget-image-xnqlx6hcqg8" action="/admin/content/media-widget/image?parent_uuid=9c91c9a0-0bb8-430c-9b1a-c03ed6130520&amp;region=content&amp;sibling_uuid=057ff2ac-901e-420b-a5c3-140352d59e37&amp;placement=after&amp;_wrapper_format=drupal_ajax&amp;ajax_form=1&amp;media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_sf_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=paragraph&amp;media_library_opener_parameters%5Bbundle%5D=sf_image&amp;media_library_opener_parameters%5Bfield_name%5D=field_sf_image&amp;hash=IgIG4PEmn98sLDDr9Rjho9AmacYywvM-zN3pRwGBiBQ" method="post" id="views-form-media-library-widget-image--xNqlX6HCQG8" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-media-library-select-form-0--jXU_MSBFgsk,media-library-modal-selection,edit-submit--lqqoCjLd4lU">
									<div class="media-library-views-form__rows">
										<div class="js-media-library-item js-click-to-select views-row media-library-item media-library-item--grid">
											<div class="views-field views-field-media-library-select-form js-click-to-select-checkbox media-library-item__click-to-select-checkbox" data-once="media-library-click-to-select-hover">
												<span class="field-content">
													<div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-0 form-item--media-library-select-form-0 form-item--no-label   form-type-boolean">
														<label class="form-item__label  visually-hidden" for="edit-media-library-select-form-0--jXU_MSBFgsk">Select chaz-rebecca.jpg</label>
														<input data-drupal-selector="edit-media-library-select-form-0" type="checkbox" id="edit-media-library-select-form-0--jXU_MSBFgsk" name="media_library_select_form[0]" value="1" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-library-click-to-select media-item-change">
														<span class="checkbox-toggle">
															<span class="checkbox-toggle__inner"></span>
														</span>
													</div>
												</span>
											</div>
											<div class="views-field views-field-rendered-entity js-click-to-select-trigger media-library-item__click-to-select-trigger" data-once="media-library-click-to-select media-library-click-to-select-hover">
												<span class="field-content media-library-item__content">
													<article class="media-library-item__preview-wrapper">
														<div class="media-library-item__preview js-media-library-item-preview">
															<div class="field field--name-thumbnail field--type-image field--label-hidden field__item">
																<img loading="lazy" src="/sites/default/files/styles/medium/public/2022-10/chaz-rebecca.jpg?itok=_srztq3a" width="220" height="165" alt="Aw cute" class="image-style-medium">
															</div>
														</div>
														<div class="media-library-item__attributes">
															<div class="media-library-item__name">
																chaz-rebecca.jpg
															</div>
														</div>
													</article>
												</span>
											</div>
										</div>
									</div>
									<input class="" id="media-library-modal-selection" data-drupal-selector="edit-media-library-select-form-selection" type="hidden" name="media_library_select_form_selection" value="" data-once="media-library-selection-change">
									<input class="" autocomplete="off" data-drupal-selector="form-6hvshrx72-rqovtrheclpbs-tu-n-bi6vlfhza-iimw" type="hidden" name="form_build_id" value="form-6hvSHrX72_RQoVtrheCLPbS-tu_n_BI6VlfHZA_iImw">
									<input class="" data-drupal-selector="edit-views-form-media-library-widget-image-form-token-kiod6u2siaq" type="hidden" name="form_token" value="lsvaR_FItxF30L5cFJagMD_ETZNjHw0dNvJ84nKGkvk">
									<input class="" data-drupal-selector="edit-views-form-media-library-widget-image-wpoyifb-nlc" type="hidden" name="form_id" value="views_form_media_library_widget_image">
									<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--rXqFNEsr6Rg">
										<input class="media-library-select button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" data-disable-refocus="true" type="submit" id="edit-submit--lqqoCjLd4lU" name="op" value="Insert selected" data-once="drupal-ajax" style="display: none;">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="media-library-select button button--primary js-form-submit form-submit ui-button ui-corner-all ui-widget">Insert selected</button>
		</div>
		<div class="media-library-selected-count js-media-library-selected-count" role="status" aria-live="polite" aria-atomic="true">0 of 1 item selected</div>
	</div>
</div>
