<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front media-library-widget-modal ui-dialog-buttons" aria-describedby="drupal-modal" aria-labelledby="ui-id-3">
  <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
    <span id="ui-id-3" class="ui-dialog-title">Add or select media</span>
    <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
      <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
      <span class="ui-button-icon-space"> </span>Close
    </button>
  </div>
  <div id="drupal-modal" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 215.5px;">
    <div id="media-library-wrapper" class="media-library-wrapper" data-once="claroDetails">
      <div id="media-library-content" class="media-library-content">
        <div id="media-library-add-form-wrapper">
          <form class="js-media-library-add-form media-library-add-form media-library-add-form--without-input media-library-add-form--upload" data-drupal-selector="media-library-add-form-upload-bupps-3njvy" enctype="multipart/form-data" action="/en/media-library?media_library_opener_id=media_library.opener.field_widget&amp;media_library_allowed_types%5Bimage%5D=image&amp;media_library_selected_type=image&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfield_widget_id%5D=field_media_image&amp;media_library_opener_parameters%5Bentity_type_id%5D=block_content&amp;media_library_opener_parameters%5Bbundle%5D=banner_block&amp;media_library_opener_parameters%5Bfield_name%5D=field_media_image&amp;media_library_opener_parameters%5Bentity_id%5D=3&amp;media_library_opener_parameters%5Brevision_id%5D=3&amp;hash=hG0hzzWfeSJNBiIHuz7ZxvYuRS3QjxEiTumWuiTjg4w" method="post" id="media-library-add-form-upload--bUpPS_3NjvY" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-upload-upload--v80vlj3YF4g,edit-upload-upload-button--r0Qa2cbjI8w">
            <div class="media-library-add-form__input-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-container" id="edit-container--J3a2AplaM5g">
              <div id="ajax-wrapper--jN-Ay9l_Yhs">
                <div class="js-form-item form-item js-form-type-managed-file form-type--managed-file js-form-item-upload form-item--upload">
                  <label for="edit-upload-upload--v80vlj3YF4g" id="edit-upload--vPwnwL_zyEg--label" class="form-item__label">Add file</label>
                  <div id="edit-upload--vPwnwL_zyEg" class="js-form-managed-file form-managed-file is-single has-upload no-value no-meta">
                    <div class="form-managed-file__main">
                      <input data-drupal-selector="edit-upload-upload-v80vlj3yf4g" type="file" id="edit-upload-upload--v80vlj3YF4g" name="files[upload]" size="22" class="js-form-file form-file form-element form-element--type-file form-element--api-file" data-once="fileValidate auto-file-upload">
                      <input class="js-hide upload-button button js-form-submit form-submit" data-drupal-selector="edit-upload-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-upload-upload-button--r0Qa2cbjI8w" name="upload_upload_button" value="Upload" data-once="drupal-ajax">
                    </div>
                    <input data-drupal-selector="edit-upload-fids" type="hidden" name="upload[fids]">
                  </div>
                  <div id="edit-upload--vPwnwL_zyEg--description" class="form-item__description">
                    One file only.<br>2 MB limit.<br>Allowed types: png gif jpg jpeg.
                  </div>
                </div>
              </div>
            </div>
            <input class="js-media-library-add-form-current-selection" data-drupal-selector="edit-current-selection" type="hidden" name="current_selection" value="">
            <input autocomplete="off" data-drupal-selector="form-djjwhyubo7ar4tj2pkgfocq8xuiudinqqf6s5ztwrug" type="hidden" name="form_build_id" value="form-DjJWhYuBo7aR4tj2pKgfocQ8XUIUdINQQF6S5zTwrug">
            <input data-drupal-selector="edit-media-library-add-form-upload-form-token-qz-9u8d76qw" type="hidden" name="form_token" value="9ThBFhtJKEfbLu3MV0jjwMLZxcgFD_haxwibcs22tc8">
            <input data-drupal-selector="edit-media-library-add-form-upload-ekxpwi4oa14" type="hidden" name="form_id" value="media_library_add_form_upload">
          </form>
        </div>

        <div class="views-element-container" id="media-library-view">
          <div class="js-media-library-view media-library-view media-library-view--widget view view-media-library view-id-media_library view-display-id-widget js-view-dom-id-9919264637409eaab08cbbe74423838a8c467d72541c556f4a528ace01142067" data-view-display-id="widget" data-once="ajax-pager">

            <div class="view-filters">
              <form class="views-exposed-form" aria-label="Filter the contents of the Media view" data-drupal-selector="views-exposed-form-media-library-widget" action="/" method="get" id="views-exposed-form-media-library-widget" accept-charset="UTF-8" data-once="form-updated exposed-form" data-drupal-form-fields="edit-name--1swIwncZPj8,edit-sort-by---CpC4K1bJfY">
                <div class="views-exposed-form__item js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-name form-item--name">
                  <label for="edit-name--1swIwncZPj8" class="form-item__label">Name</label>
                  <input data-drupal-selector="edit-name" type="text" id="edit-name--1swIwncZPj8" name="name" value="" size="30" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
                </div>
                <div class="views-exposed-form__item views-exposed-form__item--preceding-actions js-form-item form-item js-form-type-select form-type--select js-form-item-sort-by form-item--sort-by">
                  <label for="edit-sort-by---CpC4K1bJfY" class="form-item__label">Sort by</label>
                  <select data-drupal-selector="edit-sort-by" id="edit-sort-by---CpC4K1bJfY" name="sort_by" class="form-select form-element form-element--type-select">
                    <option value="created" selected="selected">Newest first</option>
                    <option value="name">Name (A-Z)</option>
                    <option value="name_1">Name (Z-A)</option>
                  </select>
                </div>
                <div data-drupal-selector="edit-actions" class="views-exposed-form__item views-exposed-form__item--actions js-form-wrapper form-wrapper" id="edit-actions--CK_xJl_FV1I">
                  <input data-drupal-selector="edit-submit-media-library-efoep9idil0" type="submit" id="edit-submit-media-library--EFoEP9IDIL0" value="Apply filters" class="button js-form-submit form-submit">
                </div>
              </form>
            </div>

            <div class="view-header">
              <a href="/" class="views-display-link views-display-link-widget is-active" data-once="media-library-views-display-link">Grid</a>
              <a href="/" class="views-display-link views-display-link-widget_table" data-once="media-library-views-display-link">Table</a>
            </div>

            <div class="view-content">
              <div class="views-form">
                <form class="js-media-library-views-form media-library-views-form" data-drupal-media-type="image" data-drupal-selector="views-form-media-library-widget-image-ffkiop1cl-w" action="/" method="post" id="views-form-media-library-widget-image--FfKIop1Cl-w" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-media-library-select-form-0--oAHesU2P87o,edit-media-library-select-form-1--3POCkOekwPU,edit-media-library-select-form-2--b3DrMfgbniI,edit-media-library-select-form-3--q_80ruVrHJs,edit-media-library-select-form-4--Uh_xObEs2gc,edit-media-library-select-form-5--YDpzLyRG2-0,edit-media-library-select-form-6--MscBml0o8dc,edit-media-library-select-form-7--Oz800xkpkCI,edit-media-library-select-form-8--d_dPRVccmc0,edit-media-library-select-form-9--mQI0024pG3o,edit-media-library-select-form-10--6rBBr54I2tk,edit-media-library-select-form-11--ryQjqTHQqDY,edit-media-library-select-form-12--cmALn7g4Q34,edit-media-library-select-form-13--I8vXjZW2fq8,edit-media-library-select-form-14--4gC5dRn1xK4,edit-media-library-select-form-15--KYfB3NJMLYs,edit-media-library-select-form-16--1uQsJWxUh4I,edit-media-library-select-form-17--y5Xey0CM0wM,edit-media-library-select-form-18--44bDuH0Of0Y,edit-media-library-select-form-19--AbjPMJqzVro,edit-media-library-select-form-20--z_t_cLdqMdQ,media-library-modal-selection,edit-submit--cJhRVyUDNFI">
                  <div class="media-library-views-form__rows">

                    <div class="js-media-library-item js-click-to-select views-row media-library-item media-library-item--grid">
                      <div class="views-field views-field-media-library-select-form js-click-to-select-checkbox media-library-item__click-to-select-checkbox" data-once="media-library-click-to-select-hover">
                        <span class="field-content">
                          <div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-0 form-item--media-library-select-form-0 form-item--no-label">
                            <label for="edit-media-library-select-form-0--oAHesU2P87o" class="form-item__label visually-hidden">Select Deep mediterranean quiche</label>
                            <input data-drupal-selector="edit-media-library-select-form-0" type="checkbox" id="edit-media-library-select-form-0--oAHesU2P87o" name="media_library_select_form[0]" value="1" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-library-click-to-select media-item-change">
                          </div>
                        </span>
                      </div>
                      <div class="views-field views-field-rendered-entity js-click-to-select-trigger media-library-item__click-to-select-trigger" data-once="media-library-click-to-select media-library-click-to-select-hover">
                        <span class="field-content media-library-item__content">
                          <article class="contextual-region media-library-item__preview-wrapper">
                            <div class="media-library-item__preview js-media-library-item-preview">
                              <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                <div class="field__item">
                                  <img srcset="/sites/default/files/styles/medium_3_2_600x400/public/mediterranean-quiche-umami.jpg?itok=xTwqerY9 600w, /sites/default/files/styles/large_3_2_768x512/public/mediterranean-quiche-umami.jpg?itok=XWoIkfuN 768w, /sites/default/files/styles/medium_3_2_2x/public/mediterranean-quiche-umami.jpg?itok=N-cv1fNq 1200w, /sites/default/files/styles/large_3_2_2x/public/mediterranean-quiche-umami.jpg?itok=5dE6aTzm 1536w" sizes="100vw" src="/sites/default/files/styles/large_3_2_768x512/public/mediterranean-quiche-umami.jpg?itok=XWoIkfuN" alt="A delicious deep layered Mediterranean quiche with basil garnish" typeof="foaf:Image">
                                </div>
                              </div>
                            </div>
                            <div class="media-library-item__attributes">
                              <div class="media-library-item__name">Deep mediterranean quiche</div>
                            </div>
                          </article>
                        </span>
                      </div>
                    </div>

                    <div class="js-media-library-item js-click-to-select views-row media-library-item media-library-item--grid">
                      <div class="views-field views-field-media-library-select-form js-click-to-select-checkbox media-library-item__click-to-select-checkbox" data-once="media-library-click-to-select-hover">
                        <span class="field-content">
                          <div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-1 form-item--media-library-select-form-1 form-item--no-label">
                            <label for="edit-media-library-select-form-1--3POCkOekwPU" class="form-item__label visually-hidden">Select Vegan chocolate and nut brownies</label>
                            <input data-drupal-selector="edit-media-library-select-form-1" type="checkbox" id="edit-media-library-select-form-1--3POCkOekwPU" name="media_library_select_form[1]" value="2" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-library-click-to-select media-item-change">
                          </div>
                        </span>
                      </div>
                      <div class="views-field views-field-rendered-entity js-click-to-select-trigger media-library-item__click-to-select-trigger" data-once="media-library-click-to-select media-library-click-to-select-hover">
                        <span class="field-content media-library-item__content">
                          <article class="contextual-region media-library-item__preview-wrapper">
                            <div class="media-library-item__preview js-media-library-item-preview">
                              <div class="field field--name-field-media-image field--type-image field--label-visually_hidden">
                                <div class="field__label visually-hidden">Image</div>
                                  <div class="field__item">
                                    <img srcset="/sites/default/files/styles/medium_3_2_600x400/public/vegan-chocolate-nut-brownies.jpg?itok=Jky-Bi17 600w, /sites/default/files/styles/large_3_2_768x512/public/vegan-chocolate-nut-brownies.jpg?itok=Fw1LDiF0 768w, /sites/default/files/styles/medium_3_2_2x/public/vegan-chocolate-nut-brownies.jpg?itok=F1rBT1A6 1200w, /sites/default/files/styles/large_3_2_2x/public/vegan-chocolate-nut-brownies.jpg?itok=qKnGDwl6 1536w" sizes="100vw" src="/sites/default/files/styles/large_3_2_768x512/public/vegan-chocolate-nut-brownies.jpg?itok=Fw1LDiF0" alt="A stack of chocolate and pecan brownies, sprinkled with pecan crumbs and crushed walnut, fresh out of the oven" typeof="foaf:Image">
                                  </div>
                                </div>
                              </div>
                              <div class="media-library-item__attributes">
                                <div class="media-library-item__name">Vegan chocolate and nut brownies</div>
                              </div>
                            </article>
                          </span>
                        </div>
                      </div>

                      <input id="media-library-modal-selection" data-drupal-selector="edit-media-library-select-form-selection" type="hidden" name="media_library_select_form_selection" value="" data-once="media-library-selection-change">
                      <input autocomplete="off" data-drupal-selector="form-t3ejq2i9oaioxk5vnevdonrs9xfgkfgkjo1dmy-o-ii" type="hidden" name="form_build_id" value="form-t3Ejq2I9oaIoxK5vNEVDonRs9XFGKfgKjO1DMY-O-iI">
                      <input data-drupal-selector="edit-views-form-media-library-widget-image-form-token-kjolke1sde0" type="hidden" name="form_token" value="EL9jm2R0ykKYRSY-qu_MsrZHimSrXU0c86NAFnUKPfM">
                      <input data-drupal-selector="edit-views-form-media-library-widget-image-dknds9ab4lm" type="hidden" name="form_id" value="views_form_media_library_widget_image">
                      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--TMAxumXWOmc">
                      <input class="media-library-select button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" data-disable-refocus="true" type="submit" id="edit-submit--cJhRVyUDNFI" name="op" value="Insert selected" data-once="drupal-ajax" style="display: none;">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="media-library-selected-count js-media-library-selected-count" role="status" aria-live="polite" aria-atomic="true">0 of 1 item selected</div>
      <div class="ui-dialog-buttonset form-actions">
        <button type="button" class="media-library-select button button--primary js-form-submit form-submit ui-button ui-corner-all ui-widget">Insert selected</button>
      </div>
    </div>
  </div>
