{% extends '@layout/page/page.twig' %}
  {% block header %}
    {% include '@layout/site-header/site-header-dropdown.twig' %}
  {% endblock %}

  {% block main %}
    <div>Main content</div>
  {% endblock %}

  {% block footer %}
    {% include '@layout/site-footer/site-footer.twig' %}
  {% endblock %}
