{% extends '@layout/page/page.twig' %}
  {% block header %}
    {% include '@layout/site-header/site-header-dropdown.twig' %}
  {% endblock %}

  {% block main %}
    <div class="container">
      {% include '@components/text-content/text-content.twig' %}
    </div>
  {% endblock %}

  {% block footer %}
    {% include '@layout/site-footer/site-footer.twig' %}
  {% endblock %}
