/**
 * @file
 * Site secondary.
 */

.site-secondary {
  background-color: var(--site-secondary-background-color);
  color: var(--site-secondary-color);
  width: 100%;
}

.site-secondary__content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 54px;
  position: relative;

  @media (--xl) {
    justify-content: space-between;
    margin-inline-end: -16px;
  }
}

.site-secondary__buttons {
  align-items: center;
  display: flex;
}
