/**
 * @file
 * Search button.
 */

.search-button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--search-button-color);
  cursor: pointer;
  display: inline-flex;
  padding-inline-end: 0;
  position: relative;

  .is-pl & {
    color: hsl(var(--midnight-joshua-tree));
  }

  &:focus {
    box-shadow: var(--search-button-box-shadow);
    outline: none;
  }

  &[aria-expanded="true"] {
    &:focus::after {
      border-color: var(--search-button-border-color);
    }
  }

  & svg {
    margin-inline-end: var(--size-1);
  }

  @media (forced-colors: active) {
    background: ButtonFace;

    & path {
      fill: ButtonText;
    }
  }

  & span {
    font-size: var(--search-button-font-size);
    padding-block-start: var(--size-05);
  }
}
