.article__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-column-gap: var(--size-10);

  .article__media {
    grid-column: 2/3;
    grid-row: 1;
  }

  .article__content {
    grid-column: 1/1;
    grid-row: 1/4;
  }

  .article__meta {
    grid-column: 2/3;
  }
}

.article__header {
  background-color: var(--midnight-joshua-tree);
  color: var(--white);
  padding-block-end: var(--size-20);
  padding-block-start: var(--size-8);

  :is(h1, h2) {
    color: inherit;
    margin-block-end: 0;
  }

  h1 {
    font-size: var(--font-size-10);
  }

  h2 {
    font-family: var(--font-body);
    margin-block-start: var(--size-2);
  }
}

.article__main {
  padding-block: var(--size-8);

  @media (--laptop) {
    padding-block-end: var(--size-12);
  }
}

.article__media {
  grid-column-end: 7;
  grid-column-start: 1;

  @media (--laptop) {
    grid-column-end: 13;
    grid-column-start: 7;
    order: 2;
  }

  .media {
    margin-top: calc(var(--size-24) * -1);
  }

  img {
    box-shadow: var(--shadow-2);
    width: 100%;
  }
}

.article__media-meta {
  margin-block-start: var(--size-10);

  svg {
    font-size: inherit;
    display: inline-block;
    vertical-align: -0.125em;
    width: 1em;
  }

  span {
    margin-inline-start: var(--size-1);
  }
}

.article__tags {
  margin-block-start: var(--size-10);

  h3 {
    margin-block: 0;
  }
}

.article__authors {
  margin-block-start: var(--size-10);

  h3 {
    margin-block: 0;
  }
}

.article__share {
  align-items: flex-start;
  display: flex;
  margin-block-start: var(--size-10);

  h3 {
    display: inline-block;
    margin-block: 0;
    margin-inline-end: var(--size-2);
  }

  a {
    font-size: var(--font-size-4);
    display: inline-flex;
    margin-inline-end: var(--size-2);
    text-decoration: none;
  }

  svg {
    color: var(--gray-900);
    font-size: inherit;
    display: inline-block;
    vertical-align: -0.125em;
    width: 1em;
  }
}

.article__content {
  grid-column-end: 7;
  grid-column-start: 1;
}
