/**
 * @file
 * Button styles.
 */

.button {
  align-items: center;
  appearance: none;
  background-color: var(--btn-bg-color, var(--gray-300));
  border: var(--btn-border-width, 1px) solid var(--btn-border-color, var(--gray-300));
  border-radius: var(--btn-border-radius, 0);
  color: var(--btn-color, var(--black));
  cursor: pointer;
  display: inline-flex;
  font-family: var(--btn-font-family, var(--font-system));
  font-size: var(--btn-font-size, var(--font-size-1));
  font-weight: var(--btn-font-weight, var(--font-weight-700));
  justify-content: center;
  line-height: var(--btn-line-height, var(--leading-none));
  margin-block: var(--btn-margin-block, var(--size-4));
  margin-inline-end: var(--btn-maring-inline-end, var(--size-3));
  padding-block: var(--btn-padding-block, var(--size-4));
  padding-inline: var(--btn-padding-inline, var(--size-6));
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  white-space: nowrap;
  will-change: transform;

  &:visited {
    color: var(--btn-visited-color, var(--black));
  }

  &:hover {
    background-color: var(--btn-hover-bg-color, var(--gray-400));
    color: var(--btn-hover-color, var(--black));
  }

  &:focus {
    box-shadow: var(--btn-focus-box-shadow, 0 0 0 2px var(--white), 0 0 0 4px var(--gray-700));
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  &[aria-expanded="true"] {
    &:focus::after {
      border-color: var(--btn-border-color, var(--gray-300));
    }
  }

  &:disabled {
    background-color: var(--btn-disabled-bg-color, var(--gray-300));
    color: var(--btn-disabled-color, var(--gray-500));
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* Button primary */
.button--primary {
  background-color: var(--btn-primary-bg-color, var(--blue-600));
  color: var(--btn-primary-color, var(--white));

  &:visited {
    background-color: var(--btn-primary-visited-bg-color, var(--blue-600));
    color: var(--btn-primary-visited-color, var(--white));
  }

  &:hover {
    background-color: var(--btn-primary-hover-bg-color, var(--blue-800));
    color: var(--btn-primary-hover-color, var(--white));
  }

  &:active {
    background-color: var(--btn-primary-active-bg-color, var(--blue-800));
    color: var(--btn-primary-active-color, var(--white));
  }
}

/* Button toggle */
.button--toggle {
  &::after {
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: "";
    margin-inline-start: var(--size-1);
  }
}

/* Give button */
.button--give {
  background-color: transparent;
  border: 0;
  color: var(--btn-give-color, var(--white));
  font-family: var(--font-body);
  margin-block: 0;
  padding-block: 8px;
  padding-inline: 16px;

  &:visited {
    background-color: transparent;
    color: var(--btn-give-visited-color, var(--white));
  }

  &:hover {
    background-color: transparent;
    color: var(--btn-give-color, var(--gray-200));
  }

  & svg {
    inline-size: 24px;
    margin-inline-end: var(--size-2);
  }

  & span {
    padding-block-start: var(--size-1);
    text-transform: uppercase;
  }
}

/* Translate button */
.button--translate {
  background-color: transparent;
  border: 0;
  color: var(--btn-translate-color, var(--white));
  font-family: var(--font-body);
  margin-block: 0;
  padding-block: 8px;
  padding-inline: 16px;

  &:hover {
    background-color: transparent;
    color: var(--btn-translate-color, var(--gray-200));
  }

  & svg {
    inline-size: 28px;
    margin-inline-end: var(--size-2);
  }

  & span {
    padding-block-start: var(--size-1);
  }
}

/* Search button */
.button--search {
  background-color: transparent;
  border: 0;
  color: var(--btn-search-color, var(--white));
  font-family: var(--font-body);
  margin-block: 0;
  margin-inline-end: 0;
  padding-block: 8px;
  padding-inline: 16px;

  &:hover {
    background-color: transparent;
    color: var(--btn-search-color, var(--gray-200));
  }

  & svg {
    inline-size: 22px;
    margin-inline-end: var(--size-2);
  }

  & span {
    padding-block-start: var(--size-1);
  }
}
