{{ attach_library('surface/site-search') }}

<section class="site-search" data-drupal-selector="site-search" id="site-search" role="search">
  <div class="site-search__wrapper" data-drupal-selector="site-search-wrapper">
		<div class="container">
			<div class="site-search__grid">
				{% block content %}
					{% include '@components/search-block-form/search-block-form.twig' %}
				{% endblock %}
			</div>
		</div>
	</div>
</section>
