/**
 * @file
 * Site Search.
 */

.site-search {
  background: hsl(var(--gray-9));
  display: block;
  height: var(--size-18);
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.is-active {
    max-height: var(--size-18);
    visibility: visible;
  }
}

.site-search__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--size-4);

  .container-inline & {
    display: grid;
  }
}
