/**
 * @file
 * Site primary.
 */

.site-primary {
  background-color: var(--bg-light);
}

.site-primary__content {
  align-items: center;
  background-color: var(--bg-light);
  display: flex;
  min-height: 99px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
