/**
 * @file
 * Site primary.
 */

.site-primary {
  background-color: var(--site-primary-background-color);
}

.site-primary__content {
  align-items: center;
  background-color: var(--site-primary-content-background-color);
  display: flex;
  min-height: 92px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
