/**
 * @file
 * Visual styles for ajax-progress throbber.
 */

.ajax-progress {
  display: inline-block;
}

.ajax-progress-throbber {
  align-content: center;
  display: inline-flex;
  height: 1.125rem;
  line-height: 1.125rem;
  margin-block-end: 0;
  margin-block-start: -3px;
  margin-inline: var(--size-2);
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  .throbber {
    animation: surface-throbber 0.75s linear infinite;
    border-style: solid dotted solid solid;
    border-color: var(--blue-500) transparent var(--blue-500) var(--blue-500);
    border-radius: 1e5px;
    border-width: 2px;
    height: 1.125rem;
    width: 1.125rem;
  }

  .message {
    display: inline-block;
    font-size: var(--font-size-0);
    font-weight: 400;
    padding-inline-start: var(--size-2);
  }
}

.ajax-progress-fullscreen {
  background-color: var(--white);
  border-radius: 1e5px;
  border: 1px solid var(--gray-500);
  box-shadow: var(--shadow-2);
  height: 3.5rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin: -1.75rem;
  position: fixed;
  width: 3.5rem;
  z-index: 1000;

  &::before {
    animation: surface-throbber 0.75s linear infinite;
    border-color: var(--blue-500) transparent var(--blue-500) var(--blue-500);
    border-radius: 1e5px;
    border-style: solid dotted solid solid;
    border-width: 3px;
    content: "";
    height: 1.75rem;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    margin: -0.875rem;
    position: absolute;
    width: 1.75rem;
  }
}

.button:not(.js-hide) + .ajax-progress-throbber {
  margin-inline-start: 0;
}

@keyframes surface-throbber {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
