<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
	<div class="site-header__fixable is-fixed is-expanded" data-drupal-selector="site-header-fixable">
		<div id="site-header__inner" class="site-header__inner" data-drupal-selector="site-header-inner">
			<div class="site-header__inner__container l-container">
				{% block branding %}
          {% include '@layout/site-branding/site-branding.twig' with {
            'site_logo': '/dist/images/logo.svg',
            'site_name': 'Surface'
          } %}
        {% endblock %}

				<div class="header-nav-overlay" data-drupal-selector="header-nav-overlay"></div>
				<div class="mobile-nav" data-drupal-selector="mobile-nav">
					<button class="mobile-nav__button" data-drupal-selector="mobile-nav__button" aria-label="Main Menu" aria-controls="header-nav" aria-expanded="false">
						<span class="mobile-nav__label">Menu</span>
						<span class="mobile-nav__icon"></span>
					</button>
				</div>

				<div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
					<div class="search-narrow search-block-form" data-drupal-selector="search-narrow" id="search-narrow" role="search">
						<form action="/search/node" method="get" id="search-block-form--79" accept-charset="UTF-8" class="search-block-form">
							<div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
								<label for="edit-keys--79" class="form-item__label visually-hidden">Search</label>
								<input title="Enter the terms you wish to search for." placeholder="Search by keyword or phrase." data-drupal-selector="edit-keys" type="search" id="edit-keys--79" name="keys" value="" size="15" maxlength="128" class="form-search form-element form-element--type-search form-element--api-search">
							</div>
							<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--79">
								<button class="search-block-form__submit js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--79" value="Search">
									<span class="icon--search"></span>
									<span class="visually-hidden">Search</span>
								</button>
							</div>
						</form>
					</div>
					<nav class="block block-menu navigation" id="block-surface-main-menu--2" aria-labelledby="block-surface-main-menu--2" role="navigation">
						<h2 class="block__title visually-hidden" id="block-surface-main-menu--2">Main navigation</h2>
						<ul class="menu menu-main" data-drupal-selector="menu-main--level-1">
							<li class="menu__item menu__item--link menu__item--has-children" data-drupal-selector="menu__item--has-children">
								<a href="https://google.com" class="menu__link menu__link--link   menu__link--has-children" data-drupal-selector="menu__link--has-children">
									<span class="menu__link-inner menu__link-inner--level-1">About</span>
								</a>
								<button class="primary-nav__button-toggle" data-drupal-selector="primary-nav-submenu-toggle-button" aria-controls="menu-item-1" aria-expanded="false">
									<span class="visually-hidden">About sub-navigation</span>
									<span class="icon--menu-toggle"></span>
								</button>
								<span data-drupal-selector="menu-main--1" class="menu-main--1"></span>
								<ul class="menu menu-main--level-2" data-drupal-selector="menu-main--level-2" id="menu-item-1">
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">DGIT</span>
										</a>
									</li>
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">ISS</span>
										</a>
									</li>
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">OHIA</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="menu__item menu__item--link menu__item--has-children" data-drupal-selector="menu__item--has-children">
								<a href="https://google.com" class="menu__link menu__link--link   menu__link--has-children" data-drupal-selector="menu__link--has-children">
									<span class="menu__link-inner menu__link-inner--level-1">Support</span>
								</a>
								<button class="primary-nav__button-toggle" data-drupal-selector="primary-nav-submenu-toggle-button" aria-controls="menu-item-12" aria-expanded="false">
									<span class="visually-hidden">Support sub-navigation</span>
									<span class="icon--menu-toggle"></span>
								</button>
								<span data-drupal-selector="menu-main--1" class="menu-main--1"></span>
								<ul class="menu menu-main--level-2" data-drupal-selector="menu-main--level-2" id="menu-item-12">
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">Change My Password</span>
										</a>
									</li>
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">Device Security Toolkit</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="menu__item menu__item--link">
								<a href="https://google.com" class="menu__link menu__link--link" data-drupal-selector="menu__link--has-children">
									<span class="menu__link-inner menu__link-inner--level-1">Services</span>
								</a>
							</li>
							<li class="menu__item menu__item--link menu__item--has-children" data-drupal-selector="menu__item--has-children">
								<a href="https://google.com" class="menu__link menu__link--link   menu__link--has-children" data-drupal-selector="menu__link--has-children">
									<span class="menu__link-inner menu__link-inner--level-1">Resources</span>
								</a>
								<button class="primary-nav__button-toggle" data-drupal-selector="primary-nav-submenu-toggle-button" aria-controls="menu-item-1234" aria-expanded="false">
									<span class="visually-hidden">Resources sub-navigation</span>
									<span class="icon--menu-toggle"></span>
								</button>
								<span data-drupal-selector="menu-main--1" class="menu-main--1"></span>
								<ul class="menu menu-main--level-2" data-drupal-selector="menu-main--level-2" id="menu-item-1234">
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">Resources for Clinicians</span>
										</a>
									</li>
									<li class="menu__item menu__item--link menu__item--level-2">
										<a href="https://google.com" class="menu__link menu__link--link menu__link--level-2">
											<span class="menu__link-inner menu__link-inner--level-2">Resources for Faculty</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="menu__item menu__item--link">
								<a href="https://google.com" class="menu__link menu__link--link" data-drupal-selector="menu__link--has-children">
									<span class="menu__link-inner menu__link-inner--level-1">News &amp; Events</span>
								</a>
							</li>
						</ul>
					</nav>

					<div class="site-header__secondary">
						<div class="search-wide search-block-form" data-drupal-selector="search-wide" id="search-wide" role="search">
							<button class="search-wide__button" aria-label="Search Form" data-drupal-selector="search-wide-button" data-once="search-wide" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewbox="0 0 22 23">
									<path fill="currentColor" d="M21.7,21.3l-4.4-4.4C19,15.1,20,12.7,20,10c0-5.5-4.5-10-10-10S0,4.5,0,10s4.5,10,10,10c2.1,0,4.1-0.7,5.8-1.8l4.5,4.5c0.4,0.4,1,0.4,1.4,0S22.1,21.7,21.7,21.3z M10,18c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S14.4,18,10,18z"></path>
								</svg>
								<span class="search-wide__button-close"></span>
							</button>

							<div class="search-wide__wrapper" data-drupal-selector="search-wide-wrapper">
								<div class="search-wide__container l-container">
									<div class="search-wide__grid">
										<form action="/search/node" method="get" id="search-block-form--79" accept-charset="UTF-8" class="search-block-form">
											<div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
												<label for="edit-keys--79" class="form-item__label visually-hidden">Search</label>
												<input title="Enter the terms you wish to search for." placeholder="Search by keyword or phrase." data-drupal-selector="edit-keys" type="search" id="edit-keys--79" name="keys" value="" size="15" maxlength="128" class="form-search form-element form-element--type-search form-element--api-search">
											</div>
											<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--79">
												<button class="search-block-form__submit js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--79" value="Search">
													<span class="icon--search"></span>
													<span class="visually-hidden">Search</span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<nav class="block block-menu navigation" id="block-surface-account-menu--2" aria-labelledby="block-surface-account-menu--2" role="navigation">
							<h2 class="block__title visually-hidden" id="block-surface-account-menu--2">User account menu</h2>
							<ul class="menu menu-account">
								<li class="menu__item menu__item--link">
									<a href="/user" class="menu__link menu__link--link" data-drupal-link-system-path="user">My account</a>
								</li>
								<li class="menu__item menu__item--link">
									<a href="/user/logout" class="menu__link menu__link--link" data-drupal-link-system-path="user/logout">Log out</a>
								</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>
	</div>
</header>
